sites/duval/volumes/nodered/data/flow.json
[{"type":"tab","id":"7b355c18.ca9d28","label":"Flow 1"},{"id":"93bb3106.8b83c","type":"amqp-server","z":"7b355c18.ca9d28","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"17e6ecde.4d848f","type":"http in","z":"7b355c18.ca9d28","name":"","url":"/monitor","method":"get","swaggerDoc":"","x":138,"y":252,"wires":[["75963894.2a5e54"]]},{"id":"6bbaa2aa.41b6a4","type":"http response","z":"7b355c18.ca9d28","name":"","x":576,"y":251,"wires":[]},{"id":"75963894.2a5e54","type":"function","z":"7b355c18.ca9d28","name":"create result web page","func":"//var watchList = global.get('watchList');\n//var alarmTimeout = global.get('alarmTimeout');\n//var alarmTimeout = global.get('refreshTimeout');\n//var alarmEnabled = global.get('alarmEnabled');\nvar watchList = context.global.watchList;\nvar alarmTimeout = context.global.alarmTimeout;\nvar refreshTimeout = context.global.refreshTimeout;\n\nfunction pad(num) {\n    var s = \"0\" + num;\n    return s.substr(s.length-2);\n}\n\nfunction displayDateTime(date) {\n    date = new Date(date);\n    return date.getFullYear() + \"-\" + pad(date.getMonth()+1) + \"-\" + pad(date.getDate()) + \" \" +\n           pad(date.getHours()) + \":\" + pad(date.getMinutes()) + \":\" + pad(date.getSeconds());\n}\nfunction displayTimeout(seconds) {\n    var hours = Math.floor(seconds / 60 / 60);\n    var minutes = Math.floor((seconds - hours * 60) / 60);\n    var secs = Math.floor(seconds % 60);\n    return hours + \":\" + pad(minutes) + \":\" + pad(secs);\n}\n\n// url and parameter management\nvar parameters = {};\nfor (var propertyName in msg.req.query) {\n    if (msg.req.query.hasOwnProperty(propertyName)) {\n        parameters[propertyName] = propertyName;\n    }\n}\nfunction addParameter(param) {\n    parameters[param] = param;\n}\nfunction removeParameter(param) {\n    delete parameters[param];\n}\nfunction displayUrl() {\n    var firstProperty = true;\n    var url = \"monitor\";\n    for (var propertyName in parameters) {\n        if (parameters.hasOwnProperty(propertyName)) {\n            if (firstProperty) {\n                url += \"?\" + propertyName;\n                firstProperty = false;\n            } else {\n                url += \"&\" + propertyName;\n            }\n        }\n    }\n    return url;\n}\n\nvar now = Date.now();\nvar audioAlert = false;\n\nmsg.payload = \"<h1>Current time: \" + displayDateTime(now) +\" </h1>\";\n\nfor(var i = 0, l = watchList.length; i < l; i++) {\n    var subject = watchList[i];\n\n    var seenTimeout = (now - subject.lastTimeSeen) / 1000; // in seconds\n    var subjectLine = subject.suspectName + \" last seen \" + displayTimeout(seenTimeout) + \" ago near \" + subject.lastLocation;\n\n    var ignoredParameter = \"ignore\" + i;\n    var ignored = msg.req.query[ignoredParameter] !== undefined;\n    // inside timeout\n    if (seenTimeout > alarmTimeout) {\n        if (ignored) {\n            removeParameter(ignoredParameter);\n            subjectLine = \"<span style=\\\"color: orange\\\"><b>IGNORED</b>: \" + subjectLine + \"</span>\";\n            subjectLine += \" <a href=\\\"\" + displayUrl() +\"\\\">remove ignore</a>\";\n            addParameter(ignoredParameter);\n        } else {\n            audioAlert = true;\n            addParameter(ignoredParameter);\n            subjectLine = \"<span style=\\\"color: red\\\">\" + subjectLine + \"</span>\";\n            subjectLine += \" <a href=\\\"\" + displayUrl() +\"\\\">ignore</a>\";\n            removeParameter(ignoredParameter);\n        }\n    } else {\n        removeParameter(ignoredParameter);        \n    }\n    msg.payload += subjectLine + \"<br>\";    \n}\n\nvar alarmDisabled = msg.req.query.noalarm !== undefined;\nif (alarmDisabled) {\n    removeParameter(\"noalarm\");\n    msg.payload += \"<br><br><b><span style=\\\"color: red\\\">Audio alerts OFF</span></b> <a href=\\\"\" + displayUrl() + \"\\\">enable audio alerts</a><br>\";\n    addParameter(\"noalarm\");\n} else {\n    addParameter(\"noalarm\");\n    msg.payload += \"<br><br><b>Audio alerts ON</b> <a href=\\\"\" + displayUrl() + \"\\\">disable audio alerts</a><br>\";\n    removeParameter(\"noalarm\");\n    if (audioAlert) {\n        msg.payload += \"<embed src=\\\"sounds/default.mp3\\\" loop=\\\"false\\\" autostart=\\\"true\\\" hidden=\\\"true\\\"/>\";\n    }\n}\n\nmsg.headers = {\n  refresh: refreshTimeout + \"; url=\" + displayUrl()\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":376,"y":251,"wires":[["6bbaa2aa.41b6a4"]]},{"id":"b511f3.eda85e1","type":"function","z":"7b355c18.ca9d28","name":"process new lines","func":"\n//var watchList = global.get('watchList');\nvar watchList = context.global.watchList;\nvar logMsg = msg.payload.toString();\n\nfor(var i = 0, l = watchList.length; i < l; i++) {\n    var subject = watchList[i];\n    if (logMsg.indexOf(subject.macAddress) > -1) {\n        subject.lastTimeSeen = Date.now();\n        // todo: find and update lastLocation\n    }\n}\n\n//global.set('watchList', watchList);\ncontext.global.watchList = watchList;\n\nreturn msg;","outputs":1,"noerr":0,"x":361,"y":172,"wires":[["8b454be3.a9cd2"]]},{"id":"8b454be3.a9cd2","type":"debug","z":"7b355c18.ca9d28","name":"","active":true,"console":"false","complete":"false","x":607,"y":171,"wires":[]},{"id":"bf87c486.1dd4a8","type":"function","z":"7b355c18.ca9d28","name":"initialize watch list","func":"if (!context.global.watchList || msg.payload == \"refresh\") {\n    context.global.watchList = [\n        {\n            suspectName: 'Device 1',\n            macAddress: '80:4e:81:f3:25:ab',\n            lastLocation: 'A1',\n            lastTimeSeen: Date.now()\n        },\n        {\n            suspectName: 'Device 2',\n            macAddress: 'b0:47:bf:17:e1:28',\n            lastLocation: 'B2',\n            lastTimeSeen: Date.now()\n        },\n        {\n            suspectName: 'Device 3',\n            macAddress: '18:3a:2d:0b:d2:bb',\n            lastLocation: 'C3',\n            lastTimeSeen: Date.now()\n        }\n    ];\n    context.global.alarmTimeout = 10; // in seconds\n    context.global.refreshTimeout = 5; // in seconds\n}\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":70,"wires":[[]]},{"id":"83d2ed0a.19e41","type":"inject","z":"7b355c18.ca9d28","name":"refresh watch list","topic":"","payload":"refresh","payloadType":"string","repeat":"","crontab":"","once":true,"x":149,"y":70,"wires":[["bf87c486.1dd4a8"]]},{"id":"88f10be8.186da8","type":"amqp in","z":"7b355c18.ca9d28","name":"","topic":"","iotype":"4","ioname":"syslog.queue","server":"93bb3106.8b83c","x":141,"y":172,"wires":[["b511f3.eda85e1"]]},{"id":"7cb99e85.1f708","type":"inject","z":"7b355c18.ca9d28","name":"Send device 1 mac address","topic":"","payload":"log message with 80:4e:81:f3:25:ab","payloadType":"str","repeat":"","crontab":"","once":false,"x":226,"y":437,"wires":[["c62459f4.a0a8b"]]},{"id":"3d840f9c.a9c858","type":"inject","z":"7b355c18.ca9d28","name":"Send device 2 mac address","topic":"","payload":"log message with b0:47:bf:17:e1:28","payloadType":"str","repeat":"","crontab":"","once":false,"x":226,"y":505,"wires":[["c62459f4.a0a8b"]]},{"id":"a8758a7d.5ae908","type":"inject","z":"7b355c18.ca9d28","name":"Send device 3 mac address","topic":"","payload":"log message with 18:3a:2d:0b:d2:bb","payloadType":"str","repeat":"","crontab":"","once":false,"x":227,"y":575,"wires":[["c62459f4.a0a8b"]]},{"id":"c62459f4.a0a8b","type":"amqp out","z":"7b355c18.ca9d28","name":"","routingkey":"","iotype":"4","ioname":"syslog.queue","server":"93bb3106.8b83c","x":550,"y":508,"wires":[]}]