sites/duval/volumes/nodered/data/flow.json
[{"type":"tab","id":"7b355c18.ca9d28","label":"Flow 1"},{"id":"93bb3106.8b83c","type":"amqp-server","z":"7b355c18.ca9d28","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"17e6ecde.4d848f","type":"http in","z":"7b355c18.ca9d28","name":"","url":"/monitor","method":"get","swaggerDoc":"","x":138,"y":252,"wires":[["75963894.2a5e54","bf87c486.1dd4a8"]]},{"id":"6bbaa2aa.41b6a4","type":"http response","z":"7b355c18.ca9d28","name":"","x":576,"y":251,"wires":[]},{"id":"75963894.2a5e54","type":"function","z":"7b355c18.ca9d28","name":"create result web page","func":"//var watchList = global.get('watchList');\n//var alarmTimeout = global.get('alarmTimeout');\n//var alarmTimeout = global.get('refreshTimeout');\n//var alarmEnabled = global.get('alarmEnabled');\nvar watchList = context.global.watchList;\nvar alarmTimeout = context.global.alarmTimeout;\nvar refreshTimeout = context.global.refreshTimeout;\n\nfunction pad(num) {\n    var s = \"0\" + num;\n    return s.substr(s.length-2);\n}\n\nfunction displayDateTime(date) {\n    date = new Date(date);\n    return date.getFullYear() + \"-\" + pad(date.getMonth()+1) + \"-\" + pad(date.getDate()) + \" \" +\n           pad(date.getHours()) + \":\" + pad(date.getMinutes()) + \":\" + pad(date.getSeconds());\n}\nfunction displayTimeout(seconds) {\n    var time = Math.floor(seconds);\n    var secs = time % 60;\n    time = Math.floor(time / 60);\n    var minutes = time % 60;\n    time = Math.floor(time / 60);\n    var hours = time;\n\n\n    return hours + \":\" + pad(minutes) + \":\" + pad(secs);\n}\n\n// url and parameter management\nvar parameters = {};\nfor (var propertyName in msg.req.query) {\n    if (msg.req.query.hasOwnProperty(propertyName)) {\n        parameters[propertyName] = propertyName;\n    }\n}\nfunction addParameter(param) {\n    parameters[param] = param;\n}\nfunction removeParameter(param) {\n    delete parameters[param];\n}\nfunction displayUrl() {\n    var firstProperty = true;\n    var url = \"monitor\";\n    for (var propertyName in parameters) {\n        if (parameters.hasOwnProperty(propertyName)) {\n            if (firstProperty) {\n                url += \"?\" + propertyName;\n                firstProperty = false;\n            } else {\n                url += \"&\" + propertyName;\n            }\n        }\n    }\n    return url;\n}\n\nvar now = Date.now();\nvar audioAlert = false;\n\nmsg.payload = \"<h1>Current time: \" + displayDateTime(now) +\" </h1>\";\n\nfor(var i = 0, l = watchList.length; i < l; i++) {\n    var subject = watchList[i];\n\n    var seenTimeout = (now - subject.lastTimeSeen) / 1000; // in seconds\n    if (seenTimeout < 0) {\n        seenTimeout = 0;\n    }\n    var subjectLine = subject.suspectName + \" last seen \" + displayTimeout(seenTimeout) + \" ago near \" + \n                        (subject.lastAp ? subject.lastAp + \" at \" : \"\") + subject.lastLocation;\n\n    var ignoredParameter = \"ignore\" + i;\n    var ignored = msg.req.query[ignoredParameter] !== undefined;\n    // inside timeout\n    if (seenTimeout > alarmTimeout) {\n        if (ignored) {\n            removeParameter(ignoredParameter);\n            subjectLine = \"<span style=\\\"color: orange\\\"><b>IGNORED</b>: \" + subjectLine + \"</span>\";\n            subjectLine += \" <a href=\\\"\" + displayUrl() +\"\\\">remove ignore</a>\";\n            addParameter(ignoredParameter);\n        } else {\n            audioAlert = true;\n            addParameter(ignoredParameter);\n            subjectLine = \"<span style=\\\"color: red\\\">\" + subjectLine + \"</span>\";\n            subjectLine += \" <a href=\\\"\" + displayUrl() +\"\\\">ignore</a>\";\n            removeParameter(ignoredParameter);\n        }\n    } else {\n        // comment out if ignore is not reset after reentry\n        removeParameter(ignoredParameter);        \n    }\n    msg.payload += subjectLine + \"<br>\";    \n}\n\nvar alarmDisabled = msg.req.query.noalarm !== undefined;\nif (alarmDisabled) {\n    removeParameter(\"noalarm\");\n    msg.payload += \"<br><br><b><span style=\\\"color: red\\\">Audio alerts OFF</span></b> <a href=\\\"\" + displayUrl() + \"\\\">enable audio alerts</a><br>\";\n    addParameter(\"noalarm\");\n} else {\n    addParameter(\"noalarm\");\n    msg.payload += \"<br><br><b>Audio alerts ON</b> <a href=\\\"\" + displayUrl() + \"\\\">disable audio alerts</a><br>\";\n    removeParameter(\"noalarm\");\n    if (audioAlert) {\n        msg.payload += \"<embed src=\\\"sounds/default.mp3\\\" loop=\\\"false\\\" autostart=\\\"true\\\" hidden=\\\"true\\\"/>\";\n    }\n}\n\nvar heartbeat = context.global.heartbeat;\nif (heartbeat) {\n    msg.payload += \"<br><br><font size=\\\"2\\\">Last heartbeat at \" + displayDateTime(heartbeat) + \" (\" + displayTimeout((now - heartbeat)/1000) + \" ago)</font><br>\";\n}\n\nmsg.headers = {\n  refresh: refreshTimeout + \"; url=\" + displayUrl()\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":376,"y":251,"wires":[["6bbaa2aa.41b6a4"]]},{"id":"b511f3.eda85e1","type":"function","z":"7b355c18.ca9d28","name":"process new lines","func":"\n//var watchList = global.get('watchList');\nvar watchList = context.global.watchList;\nvar apLocationLookup = context.global.apLocationLookup;\nvar logMsg = msg.payload.toString();\n//var apRegExp = /STRING: \"AP\\d\\d\\dCOANHO\"/;\nvar apRegExp = /AP\\d\\d\\dCOANHO/;\nvar utcRegExp = /\\d{4}-[01]{1}\\d{1}-[0-3]{1}\\d{1}T[0-2]{1}\\d{1}:[0-6]{1}\\d{1}:[0-6]{1}\\d{1}(\\.\\d+)?(Z|[+-](?:2[0-3]|[0-1]\\d):[0-5]\\d)?/;\n\n// update heartbeat for each msg\ncontext.global.heartbeat = Date.now();\n\nfor(var i = 0, l = watchList.length; i < l; i++) {\n    var subject = watchList[i];\n    if (logMsg.indexOf(subject.macAddress) > -1) {\n        var msgTime = logMsg.match(utcRegExp);\n        if (msgTime) {\n            subject.lastTimeSeen = Date.parse(msgTime[0]);\n        } else {\n            subject.lastTimeSeen = Date.now();\n        }\n        // todo: find and update lastLocation\n        // get AP\n        var apMatch = logMsg.match(apRegExp);\n        if (apMatch) {\n          var accessPointName = apMatch[0];\n          subject.lastAp = accessPointName.slice(0, 5);\n          subject.lastLocation = apLocationLookup[accessPointName];\n          //subject.lastLocation = accessPointName;\n        }\n    }\n}\n\n//global.set('watchList', watchList);\ncontext.global.watchList = watchList;\nreturn msg;\n","outputs":1,"noerr":0,"x":361,"y":172,"wires":[["8b454be3.a9cd2"]]},{"id":"8b454be3.a9cd2","type":"debug","z":"7b355c18.ca9d28","name":"","active":true,"console":"false","complete":"payload","x":607,"y":171,"wires":[]},{"id":"bf87c486.1dd4a8","type":"function","z":"7b355c18.ca9d28","name":"initialize watch list","func":"if (!context.global.watchList || msg.payload == \"refresh\") {\n    context.global.watchList = [\n        {\n            suspectName: 'Device 1',\n            //macAddress: '80:4e:81:f3:25:ab',\n            macAddress: '80 4E 81 F3 25 AB',\n            lastLocation: '-',\n            lastAp: 'UNDETECTED',\n            lastTimeSeen: Date.now()\n        },\n        {\n            suspectName: 'Device 2',\n            //macAddress: 'b0:47:bf:17:e1:28',\n            macAddress: 'B0 47 BF 17 E1 28',\n            lastLocation: '-',\n            lastAp: 'UNDETECTED',            \n            lastTimeSeen: Date.now()\n        },\n        {\n            suspectName: 'Device 3',\n            //macAddress: '18:3a:2d:0b:d2:bb',\n            macAddress: '18 3A 2D 0B D2 BB',\n            lastLocation: '-',\n            lastAp: 'UNDETECTED',            \n            lastTimeSeen: Date.now()\n        }\n    ];\n    context.global.heartbeat = Date.now();\n    context.global.heartbeatTimeout = 120; // in seconds\n    context.global.alarmTimeout = 3600; // in seconds\n    context.global.refreshTimeout = 5; // in seconds\n    context.global.apLocationLookup = {\n        \"AP000COANHO\": \"TEST SIGNAL!\",\n        \"AP001COANHO\": \"complex\",\n        \"AP002COANHO\": \"complex\",\n        \"AP003COANHO\": \"complex\",\n        \"AP004COANHO\": \"complex\",\n        \"AP005COANHO\": \"complex\",\n        \"AP006COANHO\": \"complex\",\n        \"AP007COANHO\": \"complex\",\n        \"AP008COANHO\": \"complex\",\n        \"AP009COANHO\": \"complex\",\n        \"AP010COANHO\": \"complex\",\n        \"AP011COANHO\": \"complex\",\n        \"AP012COANHO\": \"complex\",\n        \"AP013COANHO\": \"complex\",\n        \"AP014COANHO\": \"complex\",\n        \"AP015COANHO\": \"complex\",\n        \"AP016COANHO\": \"complex\",\n        \"AP017COANHO\": \"complex\",\n        \"AP018COANHO\": \"complex\",\n        \"AP019COANHO\": \"complex\",\n        \"AP020COANHO\": \"complex\",\n        \"AP021COANHO\": \"complex\",\n        \"AP022COANHO\": \"complex\",\n        \"AP023COANHO\": \"complex\",\n        \"AP024COANHO\": \"complex\",\n        \"AP025COANHO\": \"complex\",\n        \"AP026COANHO\": \"complex\",\n        \"AP027COANHO\": \"complex\",\n        \"AP028COANHO\": \"complex\",\n        \"AP029COANHO\": \"complex\",\n        \"AP030COANHO\": \"complex\",\n        \"AP031COANHO\": \"complex\",\n        \"AP032COANHO\": \"complex\",\n        \"AP033COANHO\": \"complex\",\n        \"AP034COANHO\": \"complex\",\n        \"AP035COANHO\": \"complex\",\n        \"AP036COANHO\": \"complex\",\n        \"AP037COANHO\": \"complex\",\n        \"AP038COANHO\": \"complex\",\n        \"AP039COANHO\": \"complex\",\n        \"AP040COANHO\": \"complex\",\n        \"AP041COANHO\": \"complex\",\n        \"AP042COANHO\": \"complex\",\n        \"AP043COANHO\": \"complex\",\n        \"AP044COANHO\": \"complex\",\n        \"AP045COANHO\": \"complex\",\n        \"AP046COANHO\": \"complex\",\n        \"AP047COANHO\": \"complex\",\n        \"AP048COANHO\": \"complex\",\n        \"AP049COANHO\": \"complex\",\n        \"AP050COANHO\": \"complex\",\n        \"AP051COANHO\": \"complex\",\n        \"AP052COANHO\": \"complex\",\n        \"AP053COANHO\": \"complex\",\n        \"AP054COANHO\": \"complex\",\n        \"AP055COANHO\": \"complex\",\n        \"AP056COANHO\": \"complex\",\n        \"AP057COANHO\": \"complex\",\n        \"AP058COANHO\": \"complex\",\n        \"AP059COANHO\": \"complex\",\n        \"AP060COANHO\": \"complex\",\n        \"AP061COANHO\": \"complex\",\n        \"AP062COANHO\": \"complex\",\n        \"AP063COANHO\": \"complex\",\n        \"AP064COANHO\": \"complex\",\n        \"AP065COANHO\": \"complex\",\n        \"AP066COANHO\": \"complex\",\n        \"AP067COANHO\": \"complex\",\n        \"AP068COANHO\": \"complex\",\n        \"AP069COANHO\": \"complex\",\n        \"AP070COANHO\": \"complex\",\n        \"AP071COANHO\": \"complex\",\n        \"AP072COANHO\": \"complex\",\n        \"AP073COANHO\": \"complex\",\n        \"AP074COANHO\": \"complex\",\n        \"AP075COANHO\": \"complex\",\n        \"AP076COANHO\": \"complex\",\n        \"AP077COANHO\": \"complex\",\n        \"AP078COANHO\": \"complex\",\n        \"AP079COANHO\": \"complex\",\n        \"AP080COANHO\": \"complex\"\n    };\n}\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":70,"wires":[[]]},{"id":"83d2ed0a.19e41","type":"inject","z":"7b355c18.ca9d28","name":"reset watch list","topic":"","payload":"refresh","payloadType":"str","repeat":"","crontab":"","once":false,"x":149,"y":70,"wires":[["bf87c486.1dd4a8"]]},{"id":"88f10be8.186da8","type":"amqp in","z":"7b355c18.ca9d28","name":"","topic":"","iotype":"4","ioname":"syslog.queue","server":"93bb3106.8b83c","x":141,"y":172,"wires":[["b511f3.eda85e1","bf87c486.1dd4a8"]]},{"id":"7cb99e85.1f708","type":"inject","z":"7b355c18.ca9d28","name":"Send device 1 test mac address","topic":"","payload":"TEST: log message with 80:4e:81:f3:25:ab 80 4E 81 F3 25 AB  011iso.3.6.1.4.1.14179.2.2.1.1.3.0 = STRING: \"AP000COANHO\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":236,"y":437,"wires":[["c62459f4.a0a8b"]]},{"id":"3d840f9c.a9c858","type":"inject","z":"7b355c18.ca9d28","name":"Send device 2 test mac address","topic":"","payload":"TEST: log message with  .2.2.1.1.3.0 = STRING: \"AP000COANHO\"   b0:47:bf:17:e1:28 B0 47 BF 17 E1 28","payloadType":"str","repeat":"","crontab":"","once":false,"x":236,"y":505,"wires":[["c62459f4.a0a8b"]]},{"id":"a8758a7d.5ae908","type":"inject","z":"7b355c18.ca9d28","name":"Send device 3 test mac address","topic":"","payload":"TEST: log message with .1.5.0 = STRING: \"AP000COANHO\"   18:3a:2d:0b:d2:bb 18 3A 2D 0B D2 BB","payloadType":"str","repeat":"","crontab":"","once":false,"x":237,"y":575,"wires":[["c62459f4.a0a8b"]]},{"id":"c62459f4.a0a8b","type":"amqp out","z":"7b355c18.ca9d28","name":"","routingkey":"","iotype":"4","ioname":"syslog.queue","server":"93bb3106.8b83c","x":550,"y":508,"wires":[]}]