showcase/volumes/nodered/flows_nodered.json
[{"id":"97f270ed.0e384","type":"tab","label":"Receive TTN messages"},{"id":"d7640cc9.18deb","type":"tab","label":"Decode message payload"},{"id":"52ba9841.7af4c8","type":"tab","label":"Log heartbeats"},{"id":"be490f86.19595","type":"tab","label":"Process alarms"},{"id":"2acfce56.22a7b2","type":"tab","label":"Send notification"},{"id":"4c9ff67a.a5b8c8","type":"tab","label":"TTN test messages"},{"id":"ed3b0860.c759b8","type":"mqtt-broker","z":"","broker":"staging.thethingsnetwork.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"cbe500ee.718ca","type":"MySQLdatabase","z":"","host":"172.25.0.8","port":"3306","db":"showcase","tz":""},{"id":"1185a379.d097bd","type":"mqtt-broker","z":"","broker":"rabbitmq","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b3c7fccb.6d8ba","type":"telegram bot","z":"","botname":"sparky","usernames":"[]","chatids":"[]"},{"id":"62d11e19.37f06","type":"amqp-server","z":"","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":true,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"showcase.raw\", \"type\": \"fanout\", \"options\": {\"durable\": true}},\n\t\t{\"name\": \"showcase.heartbeat\", \"type\": \"fanout\", \"options\": {\"durable\": true}},\n\t\t{\"name\": \"showcase.alarm\", \"type\": \"fanout\", \"options\": {\"durable\": true}},\n\t\t{\"name\": \"showcase.notification\", \"type\": \"fanout\", \"options\": {\"durable\": true}}\t\t\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"showcase.raw.decode\"},\n\t\t{\"name\": \"showcase.heartbeat.log\"},\n\t\t{\"name\": \"showcase.heartbeat.process\"},\n\t\t{\"name\": \"showcase.alarm.process\"},\n\t\t{\"name\": \"showcase.notification.send\"}\t\t\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"showcase.raw\", \"queue\": \"showcase.raw.decode\"},\n\t\t{\"source\": \"showcase.heartbeat\", \"queue\": \"showcase.heartbeat.log\"},\n\t\t{\"source\": \"showcase.heartbeat\", \"queue\": \"showcase.heartbeat.process\"},\n\t\t{\"source\": \"showcase.alarm\", \"queue\": \"showcase.alarm.process\"},\n\t\t{\"source\": \"showcase.notification\", \"queue\": \"showcase.notification.send\"}\t\t\n\t]\n}"},{"id":"842e249a.6df468","type":"mqtt in","z":"97f270ed.0e384","name":"TTN exchange receiver","topic":"#","qos":"1","broker":"ed3b0860.c759b8","x":117,"y":85,"wires":[["61931666.dd1188","e82049c8.da6688"]]},{"id":"61931666.dd1188","type":"debug","z":"97f270ed.0e384","name":"","active":false,"console":"false","complete":"true","x":364,"y":156,"wires":[]},{"id":"e82049c8.da6688","type":"amqp out","z":"97f270ed.0e384","name":"","routingkey":"","iotype":"1","ioname":"showcase.raw","server":"62d11e19.37f06","x":391,"y":86,"wires":[]},{"id":"22a9796.5960886","type":"function","z":"2acfce56.22a7b2","name":"send notification","func":"// needs the following fields:\n//      msg.payload.fields.alarm: alarm message to display\n//      msg.payload.dev_eui: device id\n\nmsg.topic = \"SELECT identifier AS devid, slackchannel, telegramchannel FROM sensor where identifier = '\"+ msg.payload.dev_eui + \"'\";\nmsg.alarmPayload = msg.payload;\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":429,"y":102,"wires":[["a8733663.0f8c98"]]},{"id":"a8733663.0f8c98","type":"mysql","z":"2acfce56.22a7b2","mydb":"cbe500ee.718ca","name":"","x":629,"y":102,"wires":[["2d36b871.4682c8","c2cab950.b13a98","dfeb43e0.4fe75"]]},{"id":"7ab1a17b.9c371","type":"mqtt out","z":"2acfce56.22a7b2","name":"domoticz/in (prowl)","topic":"domoticz/in","qos":"","retain":"","broker":"1185a379.d097bd","x":1005,"y":52,"wires":[]},{"id":"a50c08d5.fb3e08","type":"Slack Bot Out","z":"2acfce56.22a7b2","name":"sparky (slack)","apiToken":"xoxb-63081672787-taRL39u95elfJ8ARh1gGvRUR","channel":"","x":995,"y":102,"wires":[]},{"id":"b640fc90.d8a1a","type":"telegram sender","z":"2acfce56.22a7b2","name":"sparky (telegram)","bot":"b3c7fccb.6d8ba","x":1022,"y":151,"wires":[[]]},{"id":"2d36b871.4682c8","type":"function","z":"2acfce56.22a7b2","name":"Alarm: Prowl","func":"// tijdelijke code voor prowl, moet zsm verwijderd worden!! Ab\n\nmsg_out = {};\nmsg_out.payload = {};\nmsg_out.payload.dev_eui = msg.alarmPayload.dev_eui;\n\nif (msg.alarmPayload.dev_eui === '0000000029B1A8A0') {\n    msg_out.payload.idx = 6; // Domoticz id\n    msg_out.payload.nvalue = msg.alarmPayload.fields.isOpen;\n    msg_out.payload.svalue = \"\"; //msg.alarmPayload.payload.substring(10,12);\n}\nelse if (msg.alarmPayload.dev_eui === '000000009AA74038') {\n    msg_out.payload.idx = 5; // Domoticz id\n    msg_out.payload.nvalue = msg.alarmPayload.fields.isOpen;\n    msg_out.payload.svalue = \"\"; //msg.alarmPayload.payload.substring(10,12);\n}\n\nreturn msg_out;","outputs":1,"noerr":0,"x":805,"y":52,"wires":[["7ab1a17b.9c371"]]},{"id":"c2cab950.b13a98","type":"function","z":"2acfce56.22a7b2","name":"Alarm: Slack","func":"if(msg.payload[0].slackchannel) {\n  msg.channel = msg.payload[0].slackchannel\n  if(msg.alarmPayload) {\n    msg.payload = \"Alarm: \" + msg.alarmPayload.fields.alarm;\n  } else { \n     msg.payload = \"Alarm\"; \n  }\n  return msg;\n} else { \n  return null;\n}\n","outputs":1,"noerr":0,"x":805,"y":102,"wires":[[]]},{"id":"dfeb43e0.4fe75","type":"function","z":"2acfce56.22a7b2","name":"Alarm: Telegram","func":"msg.alarmPayload\nif(msg.payload[0].telegramchannel) {\n  msg.payload.type = 'message';\n  msg.payload.chatId = msg.payload[0].telegramchannel;\n  if(msg.alarmPayload) {\n    msg.payload.content = \"Alarm: \" + msg.alarmPayload.fields.alarm;\n  } else { \n     msg.payload.content = \"Alarm\"; \n  }\n  return msg;\n} else { \n  return null;\n}\n","outputs":1,"noerr":0,"x":816,"y":151,"wires":[[]]},{"id":"b81ae129.609fb","type":"function","z":"2acfce56.22a7b2","name":"log notification in MySQL","func":"msg.topic = \n \"INSERT INTO event ( \" +\n \"version,\" +\n \"date_created,\" +\n \"event_type_id,\" +\n \"sensor_id,\" +\n \"class,\" + \n \"status,\" +\n \"temperature,\" +\n \"voltage) \" +\n \"SELECT \" +\n    \"1,\" +\n    \"'\"+new Date().toISOString().slice(0, 19).replace('T', ' ')+\"',\" +\n    \"1,\" +\n    \"id, \" + \n    \"'showcase.event.\" + (  msg.payload.fields.isOpen !== undefined ? \"Switch\" :\n                            msg.payload.fields.timeout !== undefined ? \"Timeout\" :\n                            msg.payload.fields.temp !== undefined ? \"Temperature\" :\n                            msg.payload.fields.volt !== undefined ? \"Voltage\" : \"Unknown\"\n                         ) + \"Event',\" +\n    (msg.payload.fields.isOpen === undefined ? \"NULL\" : (msg.payload.fields.isOpen ? \"'OPEN'\" : \"'CLOSED'\")) + \",\" +\n    (msg.payload.fields.temp === undefined || msg.payload.fields.temp === \"\" ? \"NULL\" : msg.payload.fields.temp) + \",\" +\n    (msg.payload.fields.volt === undefined || msg.payload.fields.volt === \"\" ? \"NULL\" : msg.payload.fields.volt) + \" \" +\n  \"FROM sensor WHERE identifier LIKE '\"+ msg.payload.dev_eui +\"';\";\nreturn msg;","outputs":1,"noerr":0,"x":458,"y":246,"wires":[["e8b34fc4.d8a1d","40ad428d.77979c"]]},{"id":"e8b34fc4.d8a1d","type":"mysql","z":"2acfce56.22a7b2","mydb":"cbe500ee.718ca","name":"","x":669,"y":247,"wires":[["97c9d176.caffb"]]},{"id":"ef27c5c9.ff2008","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test koffer 1 dicht","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMTswOwKE\", \"port\": 1, \"counter\": 3, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF11BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 4098352996, \"gateway_time\": \"2016-08-03T10:44:24.225385Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:44:25.07906191Z\", \"rssi\": -51, \"lsnr\": 11.5, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":211,"wires":[["7a6f6fdf.91fd1"]]},{"id":"60fdef72.27435","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test keepalive ERR msg","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyO0VS\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":189,"y":130,"wires":[["7a6f6fdf.91fd1"]]},{"id":"caa7e8d7.7e9148","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test koffer 2 open","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMjsx\", \"port\": 1, \"counter\": 116, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.5, \"datarate\": \"SF8BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3143227596, \"gateway_time\": \"2016-08-03T10:28:29.08852Z\", \"channel\": 2, \"server_time\": \"2016-08-03T10:28:29.936604914Z\", \"rssi\": -72, \"lsnr\": 8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":252,"wires":[["7a6f6fdf.91fd1"]]},{"id":"1ccfe5d7.1389ca","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test koffer 2 dicht","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMjsw\", \"port\": 1, \"counter\": 115, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF8BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3139842060, \"gateway_time\": \"2016-08-03T10:28:25.703778Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:28:26.558458675Z\", \"rssi\": -72, \"lsnr\": 10.2, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":292,"wires":[["7a6f6fdf.91fd1"]]},{"id":"ef2ba629.5faf78","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test koffer 1 open","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMTsxOwIP\", \"port\": 1, \"counter\": 4, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF11BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3172636156, \"gateway_time\": \"2016-08-03T10:28:58.514304Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:28:59.436321981Z\", \"rssi\": -51, \"lsnr\": 8.5, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":171,"wires":[["7a6f6fdf.91fd1"]]},{"id":"c7c7411b.5245","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test keepalive 23 msg","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyOzIz\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":179,"y":90,"wires":[["7a6f6fdf.91fd1"]]},{"id":"47d761ae.4f291","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test heartbeat","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyOzIz\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":159,"y":332,"wires":[["7a6f6fdf.91fd1"]]},{"id":"9484d3c8.cbf12","type":"debug","z":"2acfce56.22a7b2","name":"Alarm Notification","active":true,"console":"false","complete":"payload","x":437.5,"y":169.29998779296875,"wires":[]},{"id":"97c9d176.caffb","type":"debug","z":"2acfce56.22a7b2","name":"","active":false,"console":"false","complete":"false","x":834.5,"y":247.29998779296875,"wires":[]},{"id":"40ad428d.77979c","type":"debug","z":"2acfce56.22a7b2","name":"","active":false,"console":"false","complete":"true","x":658.5,"y":291.29998779296875,"wires":[]},{"id":"c6016784.f23dc8","type":"comment","z":"4c9ff67a.a5b8c8","name":"Temperature test messages","info":"","x":683.5,"y":82.44000244140625,"wires":[]},{"id":"9b751922.1d39b8","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 temp: 23 ","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"23\", \"hum\": \"\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":916,"y":30,"wires":[["ca66fa6f.c6e098"]]},{"id":"1649c740.58f8b9","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 temp: ER","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"ER\", \"hum\": \"\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":926,"y":68,"wires":[["ca66fa6f.c6e098"]]},{"id":"ee9e2b25.f15298","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 temp: -10 ","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"-10\", \"hum\": \"\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":925,"y":107,"wires":[["ca66fa6f.c6e098"]]},{"id":"3a99d289.51919e","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 temp: 150","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"150\", \"hum\": \"\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":925,"y":147,"wires":[["ca66fa6f.c6e098"]]},{"id":"f4ba27d1.3b0028","type":"comment","z":"4c9ff67a.a5b8c8","name":"Raw base64 test messages","info":"","x":160.5,"y":39.43999481201172,"wires":[]},{"id":"9f76ddfe.28de3","type":"comment","z":"4c9ff67a.a5b8c8","name":"Voltage test messages","info":"","x":700,"y":251,"wires":[]},{"id":"12bdad2e.6b4653","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 volt: 11.8","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"\", \"hum\": \"\", \"volt\": \"11.8\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":914.5,"y":197.55999755859375,"wires":[["ca66fa6f.c6e098"]]},{"id":"70f6fcd9.02ec84","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 volt: ER ","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"\", \"hum\": \"\", \"volt\": \"ER\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":914.5,"y":235.55999755859375,"wires":[["ca66fa6f.c6e098"]]},{"id":"a80d7f29.65e65","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 volt: 0.1","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"\", \"hum\": \"\", \"volt\": \"0.1\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":913.5,"y":274.55999755859375,"wires":[["ca66fa6f.c6e098"]]},{"id":"e0aa0eb4.3286f","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 volt: 230","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"23\", \"hum\": \"\", \"volt\": \"230\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":913.5,"y":314.55999755859375,"wires":[["ca66fa6f.c6e098"]]},{"id":"f649308d.1a748","type":"comment","z":"4c9ff67a.a5b8c8","name":"Humidity test messages","info":"","x":695,"y":416,"wires":[]},{"id":"661036fe.19c0b8","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 hum: 50","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"\", \"hum\": \"50\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":912.5,"y":364.55999755859375,"wires":[["ca66fa6f.c6e098"]]},{"id":"38f3da44.3993d6","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 hum: ER","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"\", \"hum\": \"ER\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":912.5,"y":402.55999755859375,"wires":[["ca66fa6f.c6e098"]]},{"id":"4f1e7398.125a3c","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 hum: 100","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"\", \"hum\": \"100\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":921.5,"y":441.55999755859375,"wires":[["ca66fa6f.c6e098"]]},{"id":"74f80d0e.8cea04","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 hum: 0","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"\", \"hum\": \"0\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":911.5,"y":481.55999755859375,"wires":[["ca66fa6f.c6e098"]]},{"id":"d1770675.bb3268","type":"amqp out","z":"d7640cc9.18deb","name":"","routingkey":"","iotype":"1","ioname":"showcase.heartbeat","server":"62d11e19.37f06","x":817,"y":43,"wires":[]},{"id":"7a7a9788.3b7408","type":"function","z":"d7640cc9.18deb","name":"Decode and split payload","func":"var payload = new Buffer(msg.payload.payload, 'base64').toString();\nmsg.payload.payload = payload;\n\n// decode msg payload string to fields\nif (msg.payload.payload.startsWith(\"Alive\")) {\n    msg.payload.fields = {\n        msgType: \"Alive\",\n        node_id: payload.substring(5,6),\n        temp: payload.substring(7,12),\n        hum: payload.substring(13,18),\n        volt: payload.substring(19,24)\n    }\n    return [msg, null];\n} else if (msg.payload.payload.startsWith('Sensor')) {\n    var isOpen = payload.substring(8,9) === '1';\n    msg.payload.fields = {\n        msgType: \"Sensor\",\n        isOpen: isOpen,\n        alarm: \"deksel \" + (isOpen ? \"open\" : \"dicht\")\n    }\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":543,"y":68,"wires":[["d1770675.bb3268"],["69a987ec.9bf558"]]},{"id":"c845a32f.27b4a","type":"mysql","z":"52ba9841.7af4c8","mydb":"cbe500ee.718ca","name":"","x":876,"y":41,"wires":[[]]},{"id":"3234b502.94134a","type":"function","z":"52ba9841.7af4c8","name":"Log heartbeat in MySQL","func":"var temp = msg.payload.fields.temp;\nif (temp === undefined || temp === \"\" || temp.substring(0,2) == \"ER\") {\n    temp = null;\n}\nmsg.topic = \n     \"INSERT INTO event ( \" +\n     \"version,\" +\n     \"date_created,\" +\n     \"event_type_id,\" +\n     \"sensor_id,\" +\n     \"class,\" + \n     \"status,\" +\n     \"temperature) \" +\n     \"SELECT \" +\n        \"1,\" +\n        \"'\"+new Date().toISOString().slice(0, 19).replace('T', ' ')+\"',\" +\n        \"2,\" +\n        \"id, \" + \n        \"'showcase.event.TemperatureEvent',\" +\n        \"NULL,\" +\n        (temp !== null ? temp : \"NULL\") + \" \" + \n      \"FROM sensor WHERE identifier LIKE '\" + msg.payload.dev_eui + \"';\";\nmsg.heartbeatPayload = msg.payload;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":632,"y":41,"wires":[["c845a32f.27b4a"]]},{"id":"90aa6f2d.806ad","type":"function","z":"52ba9841.7af4c8","name":"Log heartbeat temp in domoticz","func":"var fields = msg.payload.fields;\nvar domoticzMsg = {};\n\nif (fields.temp === \"ER\") {\n  // Temperature error\n  return null;\n} else {\n    // voor Domoticz\n    domoticzMsg.payload = {\n        idx: 19,\n        svalue: fields.temp,\n        node_id: fields.node_id\n    };\n    return domoticzMsg;\n}\n","outputs":1,"noerr":0,"x":652,"y":91,"wires":[["f9afba4f.07e0d8"]]},{"id":"dff1156b.abec88","type":"function","z":"52ba9841.7af4c8","name":"Log heartbeat volt in domoticz","func":"var fields = msg.payload.fields;\nvar domoticzMsg = {};\n\nif (fields.temp === \"ER\") {\n  // Temperature error\n  return null;\n} else {\n    // voor Domoticz\n    domoticzMsg.payload = {\n        idx: 20,\n        svalue: fields.volt,\n        node_id: fields.node_id\n    };\n    return domoticzMsg;\n}\n","outputs":1,"noerr":0,"x":650,"y":141,"wires":[["6c92534d.840acc"]]},{"id":"f9afba4f.07e0d8","type":"mqtt out","z":"52ba9841.7af4c8","name":"domoticz/in (prowl)","topic":"domoticz/in","qos":"","retain":"","broker":"1185a379.d097bd","x":904,"y":91,"wires":[]},{"id":"6c92534d.840acc","type":"mqtt out","z":"52ba9841.7af4c8","name":"domoticz/in (prowl)","topic":"domoticz/in","qos":"","retain":"","broker":"1185a379.d097bd","x":906,"y":141,"wires":[]},{"id":"8e2c0f62.be853","type":"function","z":"52ba9841.7af4c8","name":"Log heartbeat hum in domoticz","func":"var fields = msg.payload.fields;\nvar domoticzMsg = {};\n\nif (fields.hum === \"ER\") {\n  // Humidity error\n  return null;\n} else {\n    // voor Domoticz\n    domoticzMsg.payload = {\n        idx: 22,\n        nvalue: Number(fields.hum.split(\".\")[0]),\n        node_id: fields.node_id\n    };\n    return domoticzMsg;\n}\n","outputs":1,"noerr":0,"x":649,"y":193,"wires":[["7836dc4e.740c04"]]},{"id":"7836dc4e.740c04","type":"mqtt out","z":"52ba9841.7af4c8","name":"domoticz/in (prowl)","topic":"domoticz/in","qos":"","retain":"","broker":"1185a379.d097bd","x":905,"y":192,"wires":[]},{"id":"74e72f21.853b4","type":"function","z":"be490f86.19595","name":"timeout alarm","func":"var dev_eui = msg.requestPayload.dev_eui;\nvar keepAliveTimeout = msg.payload[0].keepalivetimeout;\nvar heartbeatTimers = context.get(\"heartbeatTimers\");\nif(heartbeatTimers === undefined) {\n    heartbeatTimers = {};\n}\nvar timer = heartbeatTimers[dev_eui];\n//node.warn(\"Exisiting timer for \" + dev_eui + \": \" + timer);\n\n// reset heartbeat timeout timer\nif (timer) {\n    clearTimeout(timer);\n}\n\n// start new timeout timer\nheartbeatTimers[dev_eui] = setTimeout(function() {\n    // timeout has expired, send warning\n    delete heartbeatTimers[dev_eui];\n    var timeoutMsg = {\n        topic: \"timeout\",\n        payload: {\n            fields: {\n                alarm: \"No heartbeat received during \" + keepAliveTimeout + \" seconds, check if the device is still alive!\",\n                timeout: keepAliveTimeout\n            },\n            dev_eui: dev_eui\n        }\n    };\n    node.send(timeoutMsg);\n}, keepAliveTimeout * 1000); // timeout in ms\n\ncontext.set(\"heartbeatTimers\", heartbeatTimers);\n\nreturn null;","outputs":1,"noerr":0,"x":822,"y":36,"wires":[["c2d3af76.8eac8"]]},{"id":"cd01ba3.1ff6048","type":"function","z":"be490f86.19595","name":"Sensor open alarm","func":"// we don't need to do anything here\nreturn msg;","outputs":1,"noerr":0,"x":832,"y":203,"wires":[["c2d3af76.8eac8"]]},{"id":"e29f9367.1d581","type":"function","z":"be490f86.19595","name":"Heartbeat alarm lookup","func":"// needs the following fields:\n//      msg.payload.fields.alarm: alarm message to display\n//      msg.payload.dev_eui: device id\n\nmsg.topic = \"SELECT identifier AS devid, keepalivetimeout, mintemp, maxtemp, minvolt, maxvolt, minhumidity, maxhumidity FROM sensor where identifier = '\"+ msg.payload.dev_eui + \"'\";\nmsg.requestPayload = msg.payload;\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":418.5,"y":97.44998168945312,"wires":[["2d72098d.8df3c6"]]},{"id":"2d72098d.8df3c6","type":"mysql","z":"be490f86.19595","mydb":"cbe500ee.718ca","name":"","x":628,"y":97,"wires":[["127e1f82.53bca","bd6ed642.776238","74e72f21.853b4","608fda04.71f834"]]},{"id":"127e1f82.53bca","type":"function","z":"be490f86.19595","name":"temperature alarm","func":"if (msg.requestPayload.fields.temp === \"ERR\" || msg.requestPayload.fields.temp === \"\") {\n    return null;\n}\n\nvar dev_eui = msg.requestPayload.dev_eui;\nvar minTemp = Number(msg.payload[0].mintemp);\nvar maxTemp = Number(msg.payload[0].maxtemp);\nvar currentTemp = Number(msg.requestPayload.fields.temp);\n\n//node.warn(\"compare temp: currentTemp: \" + currentTemp + \", minTemp: \" + minTemp + \", maxTemp: \" + maxTemp);\n\ntry {\nif (currentTemp < minTemp || currentTemp > maxTemp) {\n    return {\n        topic: \"temperature\",\n        payload: {\n            fields: {\n                alarm: \"Temperatuur buiten range, huidige temperatuur: \" + currentTemp + \"C (range: \" + minTemp + \"C - \" + maxTemp + \"C)\",\n                temp: currentTemp\n            },\n            dev_eui: dev_eui\n        }\n    };    \n} else {\n    return null;\n}\n} catch (error) {\n    // ignore non-existing or illegal temperature field errors\n    return null;\n}\n","outputs":1,"noerr":0,"x":831.5,"y":76.45001220703125,"wires":[["c2d3af76.8eac8"]]},{"id":"bd6ed642.776238","type":"function","z":"be490f86.19595","name":"voltage alarm","func":"if (msg.requestPayload.fields.volt === \"ERR\" || msg.requestPayload.fields.volt === \"\") {\n    return null;\n}\n\nvar dev_eui = msg.requestPayload.dev_eui;\nvar minVolt = Number(msg.payload[0].minvolt);\nvar maxVolt = Number(msg.payload[0].maxvolt);\nvar currentVolt = Number(msg.requestPayload.fields.volt);\n\ntry {\n    if (currentVolt < minVolt || currentVolt > maxVolt) {\n        return {\n            topic: \"volt\",\n            payload: {\n                fields: {\n                    alarm: \"Voltage buiten range, huidige voltage: \" + currentVolt + \"V (range: \" + minVolt + \"V - \" + maxVolt + \"V)\",\n                    volt: currentVolt\n                },\n                dev_eui: dev_eui\n            }\n        };    \n    } else {\n        return null;\n    }\n} catch (error) {\n    // ignore non-existing or illegal voltage field errors\n    return null;\n}","outputs":1,"noerr":0,"x":823.5,"y":117.45001220703125,"wires":[["c2d3af76.8eac8"]]},{"id":"608fda04.71f834","type":"function","z":"be490f86.19595","name":"humidity alarm","func":"if (msg.requestPayload.fields.hum === \"ERR\" || msg.requestPayload.fields.hum === \"\") {\n    return null;\n}\n\nvar dev_eui = msg.requestPayload.dev_eui;\nvar minHumidity = Number(msg.payload[0].minhumidity);\nvar maxHumidity = Number(msg.payload[0].maxhumidity);\nvar currentHum = Number(msg.requestPayload.fields.hum);\n\ntry {\n    if (currentHum < minHumidity || currentHum > maxHumidity) {\n        return {\n            topic: \"timeout\",\n            payload: {\n                fields: {\n                    alarm: \"Luchtvochtigheid buiten range, huidige luchtvochtigheid: \" + currentHum + \"% (range: \" + minHumidity + \"% - \" + maxHumidity + \"%)\",\n                    hum: currentHum\n                },\n                dev_eui: dev_eui\n            }\n        };    \n    } else {\n        return null;\n    }\n} catch (error) {\n    // ignore non-existing or illegal humidity field errors\n    return null;\n}","outputs":1,"noerr":0,"x":822,"y":160,"wires":[["c2d3af76.8eac8"]]},{"id":"69a987ec.9bf558","type":"amqp out","z":"d7640cc9.18deb","name":"","routingkey":"","iotype":"1","ioname":"showcase.alarm","server":"62d11e19.37f06","x":797.5,"y":94.29998779296875,"wires":[]},{"id":"3411915c.dce96e","type":"amqp in","z":"d7640cc9.18deb","name":"","topic":"","iotype":"4","ioname":"showcase.raw.decode","server":"62d11e19.37f06","x":128.5,"y":68.14999389648438,"wires":[["c47fa3b3.bed09","dec2638d.07dec"]]},{"id":"b9aa12db.d2e8a","type":"amqp in","z":"52ba9841.7af4c8","name":"","topic":"","iotype":"4","ioname":"showcase.heartbeat.log","server":"62d11e19.37f06","x":334.5,"y":115.14999389648438,"wires":[["3234b502.94134a","90aa6f2d.806ad","dff1156b.abec88","8e2c0f62.be853","f812c2f4.fa6b3"]]},{"id":"6633e11a.2db0d","type":"amqp in","z":"be490f86.19595","name":"","topic":"","iotype":"4","ioname":"showcase.heartbeat.process","server":"62d11e19.37f06","x":152.5,"y":97.14999389648438,"wires":[["e29f9367.1d581","e351ac67.0a703"]]},{"id":"54cc0852.6931d8","type":"amqp in","z":"be490f86.19595","name":"","topic":"","iotype":"4","ioname":"showcase.alarm.process","server":"62d11e19.37f06","x":142.5,"y":202.14999389648438,"wires":[["cd01ba3.1ff6048"]]},{"id":"c2d3af76.8eac8","type":"amqp out","z":"be490f86.19595","name":"","routingkey":"","iotype":"1","ioname":"showcase.notification","server":"62d11e19.37f06","x":1159.5,"y":113.30000305175781,"wires":[]},{"id":"c0a58a74.40dc58","type":"amqp in","z":"2acfce56.22a7b2","name":"","topic":"","iotype":"4","ioname":"showcase.notification.send","server":"62d11e19.37f06","x":128.5,"y":169.14996337890625,"wires":[["22a9796.5960886","b81ae129.609fb","9484d3c8.cbf12"]]},{"id":"ca66fa6f.c6e098","type":"amqp out","z":"4c9ff67a.a5b8c8","name":"","routingkey":"","iotype":"1","ioname":"showcase.heartbeat","server":"62d11e19.37f06","x":1269.5,"y":255.29998779296875,"wires":[]},{"id":"c47fa3b3.bed09","type":"json","z":"d7640cc9.18deb","name":"","x":333,"y":68,"wires":[["17766d7c.9691f3","7a7a9788.3b7408"]]},{"id":"17766d7c.9691f3","type":"function","z":"d7640cc9.18deb","name":"n2s_converter","func":"// { \"gatewayEui\": \"0000024B0805026F\", \"nodeEui\": \"02015E01\", \"time\": \"2016-02-18T09:58:49.075896468Z\", \"frequency\": 868.5, \"dataRate\": \"SF7BW125\", \n// \"rssi\": -30, \"snr\": 6.5, \"rawData\": \"QAFeAQIAmyIBImZILKIpUOq5l37/UUg=\", \"data\": \"CgAUVXiVKQAQIw==\" }\n\nmsg2 = {};\nmsg2.payload = {};\nmsg2.payload.dev_id = msg.payload.dev_eui.substring(8,16);\nmsg2.payload.counter = msg.payload.counter;\nmsg2.payload.datatxt = new Buffer(msg.payload.payload, 'base64').toString();\nmsg2.payload.datahex = new Buffer(msg.payload.payload, 'base64').toString('hex');\n\nreturn msg2;","outputs":"1","noerr":0,"x":514,"y":166,"wires":[["6adc6267.c091ec","185e037b.fa955d"]]},{"id":"6adc6267.c091ec","type":"debug","z":"d7640cc9.18deb","name":"","active":false,"console":"false","complete":"false","x":710,"y":215,"wires":[]},{"id":"185e037b.fa955d","type":"file","z":"d7640cc9.18deb","name":"","filename":"ttn_logging","appendNewline":true,"createDir":true,"overwriteFile":"false","x":709,"y":166,"wires":[]},{"id":"7a6f6fdf.91fd1","type":"amqp out","z":"4c9ff67a.a5b8c8","name":"","routingkey":"","iotype":"1","ioname":"showcase.raw","server":"62d11e19.37f06","x":465.5,"y":210.29998779296875,"wires":[]},{"id":"dec2638d.07dec","type":"debug","z":"d7640cc9.18deb","name":"raw message","active":false,"console":"false","complete":"payload","x":380.5,"y":278.29998779296875,"wires":[]},{"id":"f812c2f4.fa6b3","type":"debug","z":"52ba9841.7af4c8","name":"log hearbeat","active":false,"console":"false","complete":"payload","x":588.5,"y":238.29998779296875,"wires":[]},{"id":"e351ac67.0a703","type":"debug","z":"be490f86.19595","name":"process heartbeat alarm","active":false,"console":"false","complete":"payload","x":418.5,"y":139.29998779296875,"wires":[]}]