showcase/volumes/nodered/flows_nodered.json
[{"id":"97f270ed.0e384","type":"tab","label":"Receive TTN messages"},{"id":"d7640cc9.18deb","type":"tab","label":"Decode to observations"},{"id":"52ba9841.7af4c8","type":"tab","label":"Log observations"},{"id":"be490f86.19595","type":"tab","label":"Process observations"},{"id":"2acfce56.22a7b2","type":"tab","label":"Process alerts"},{"id":"6e2fec04.b5dce4","type":"tab","label":"TTN test messages"},{"id":"4c9ff67a.a5b8c8","type":"tab","label":"TTN test messages (oud)"},{"id":"ed3b0860.c759b8","type":"mqtt-broker","z":"","broker":"staging.thethingsnetwork.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"cbe500ee.718ca","type":"MySQLdatabase","z":"","host":"172.25.0.8","port":"3306","db":"showcase","tz":""},{"id":"1185a379.d097bd","type":"mqtt-broker","z":"","broker":"rabbitmq","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b3c7fccb.6d8ba","type":"telegram bot","z":"","botname":"sparky","usernames":"[]","chatids":"[]"},{"id":"62d11e19.37f06","type":"amqp-server","z":"","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"showcase.ttn_message\", \"type\": \"fanout\", \"options\": {\"durable\": true}},\n\t\t{\"name\": \"showcase.observation\", \"type\": \"fanout\", \"options\": {\"durable\": true}},\n\t\t{\"name\": \"showcase.logged_observation\", \"type\": \"fanout\", \"options\": {\"durable\": true}},\n\t\t{\"name\": \"showcase.alert\", \"type\": \"fanout\", \"options\": {\"durable\": true}}\t\t\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"showcase.ttn_message.decode\", \"options\": {\"durable\": true}},\n\t\t{\"name\": \"showcase.observation.log\", \"options\": {\"durable\": true}},\n\t\t{\"name\": \"showcase.heartbeat.process\", \"options\": {\"durable\": true}},\n\t\t{\"name\": \"showcase.logged_observation.process\", \"options\": {\"durable\": true}},\n\t\t{\"name\": \"showcase.alert.process\", \"options\": {\"durable\": true}}\t\t\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"showcase.ttn_message\", \"queue\": \"showcase.ttn_message.decode\"},\n\t\t{\"source\": \"showcase.observation\", \"queue\": \"showcase.observation.log\"},\n\t\t{\"source\": \"showcase.logged_observation\", \"queue\": \"showcase.logged_observation.process\"},\n\t\t{\"source\": \"showcase.alert\", \"queue\": \"showcase.alert.process\"}\t\t\n\t]\n}"},{"id":"842e249a.6df468","type":"mqtt in","z":"97f270ed.0e384","name":"TTN exchange receiver","topic":"#","qos":"1","broker":"ed3b0860.c759b8","x":117,"y":85,"wires":[["61931666.dd1188"]]},{"id":"61931666.dd1188","type":"debug","z":"97f270ed.0e384","name":"","active":false,"console":"false","complete":"true","x":364,"y":156,"wires":[]},{"id":"e82049c8.da6688","type":"amqp out","z":"97f270ed.0e384","name":"","routingkey":"","iotype":"1","ioname":"showcase.ttn_message","server":"62d11e19.37f06","x":421,"y":86,"wires":[]},{"id":"ef27c5c9.ff2008","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test koffer 1 dicht","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMTswOwKE\", \"port\": 1, \"counter\": 3, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF11BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 4098352996, \"gateway_time\": \"2016-08-03T10:44:24.225385Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:44:25.07906191Z\", \"rssi\": -51, \"lsnr\": 11.5, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":211,"wires":[[]]},{"id":"60fdef72.27435","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test keepalive ERR msg","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyO0VS\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":189,"y":130,"wires":[[]]},{"id":"caa7e8d7.7e9148","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test koffer 2 open","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMjsx\", \"port\": 1, \"counter\": 116, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.5, \"datarate\": \"SF8BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3143227596, \"gateway_time\": \"2016-08-03T10:28:29.08852Z\", \"channel\": 2, \"server_time\": \"2016-08-03T10:28:29.936604914Z\", \"rssi\": -72, \"lsnr\": 8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":252,"wires":[[]]},{"id":"1ccfe5d7.1389ca","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test koffer 2 dicht","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMjsw\", \"port\": 1, \"counter\": 115, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF8BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3139842060, \"gateway_time\": \"2016-08-03T10:28:25.703778Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:28:26.558458675Z\", \"rssi\": -72, \"lsnr\": 10.2, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":292,"wires":[[]]},{"id":"ef2ba629.5faf78","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test koffer 1 open","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMTsxOwIP\", \"port\": 1, \"counter\": 4, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF11BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3172636156, \"gateway_time\": \"2016-08-03T10:28:58.514304Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:28:59.436321981Z\", \"rssi\": -51, \"lsnr\": 8.5, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":171,"wires":[[]]},{"id":"c7c7411b.5245","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test keepalive 23 msg","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyOzIz\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":179,"y":90,"wires":[[]]},{"id":"47d761ae.4f291","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test heartbeat","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyOzIz\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":159,"y":332,"wires":[[]]},{"id":"c6016784.f23dc8","type":"comment","z":"4c9ff67a.a5b8c8","name":"Temperature test messages","info":"","x":683.5,"y":82.44000244140625,"wires":[]},{"id":"9b751922.1d39b8","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 temp: 23 ","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"23\", \"hum\": \"\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":916,"y":30,"wires":[[]]},{"id":"1649c740.58f8b9","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 temp: ER","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"ER\", \"hum\": \"\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":926,"y":68,"wires":[[]]},{"id":"ee9e2b25.f15298","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 temp: -10 ","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"-10\", \"hum\": \"\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":925,"y":107,"wires":[[]]},{"id":"3a99d289.51919e","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 temp: 150","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"150\", \"hum\": \"\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":925,"y":147,"wires":[[]]},{"id":"f4ba27d1.3b0028","type":"comment","z":"4c9ff67a.a5b8c8","name":"Raw base64 test messages","info":"","x":160.5,"y":39.43999481201172,"wires":[]},{"id":"9f76ddfe.28de3","type":"comment","z":"4c9ff67a.a5b8c8","name":"Voltage test messages","info":"","x":700,"y":251,"wires":[]},{"id":"12bdad2e.6b4653","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 volt: 11.8","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"\", \"hum\": \"\", \"volt\": \"11.8\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":914.5,"y":197.55999755859375,"wires":[[]]},{"id":"70f6fcd9.02ec84","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 volt: ER ","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"\", \"hum\": \"\", \"volt\": \"ER\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":914.5,"y":235.55999755859375,"wires":[[]]},{"id":"a80d7f29.65e65","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 volt: 0.1","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"\", \"hum\": \"\", \"volt\": \"0.1\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":913.5,"y":274.55999755859375,"wires":[[]]},{"id":"e0aa0eb4.3286f","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 volt: 230","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"23\", \"hum\": \"\", \"volt\": \"230\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":913.5,"y":314.55999755859375,"wires":[[]]},{"id":"f649308d.1a748","type":"comment","z":"4c9ff67a.a5b8c8","name":"Humidity test messages","info":"","x":695,"y":416,"wires":[]},{"id":"661036fe.19c0b8","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 hum: 50","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"\", \"hum\": \"50\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":912.5,"y":364.55999755859375,"wires":[[]]},{"id":"38f3da44.3993d6","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 hum: ER","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"\", \"hum\": \"ER\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":912.5,"y":402.55999755859375,"wires":[[]]},{"id":"4f1e7398.125a3c","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 hum: 100","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"\", \"hum\": \"100\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":921.5,"y":441.55999755859375,"wires":[[]]},{"id":"74f80d0e.8cea04","type":"inject","z":"4c9ff67a.a5b8c8","name":"Koffer 1 hum: 0","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"Alive2;23\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ], \"fields\": { \"msgType\": \"Alive\", \"node_id\": \"2\", \"temp\": \"\", \"hum\": \"0\", \"volt\": \"\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":911.5,"y":481.55999755859375,"wires":[[]]},{"id":"c845a32f.27b4a","type":"mysql","z":"52ba9841.7af4c8","mydb":"cbe500ee.718ca","name":"","x":614,"y":37,"wires":[["f812c2f4.fa6b3","2d2ed768.555b38"]]},{"id":"3234b502.94134a","type":"function","z":"52ba9841.7af4c8","name":"log observation in MySQL","func":"var observationTimestamp = msg.payload.timestamp.slice(0, 19).replace('T', ' '); // new Date().toISOString().slice(0, 19).replace('T', ' ')\nvar nodeId = msg.payload.nodeId;\nvar sensorId = msg.payload.sensorId;\nvar sensorValue = msg.payload.sensorValue;\nvar sensorError = msg.payload.sensorError;\n\n// todo: insert sensorError into observation table\nmsg.topic = \n     \"INSERT INTO observatie ( \" +\n         \"datum_tijd_aangemaakt,\" +\n         \"node,\" +\n         \"sensor,\" +\n         \"waarde) \" +\n     \"VALUES (\" +\n        \"'\" + observationTimestamp +\"',\" +\n        \"'\" + nodeId + \"',\" +\n        sensorId + \", \" + \n        \"'\" + sensorValue + \"'\" +\n     \");\";\nmsg.originalPayload = msg.payload;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":401,"y":37,"wires":[["c845a32f.27b4a","5ab80c23.bb2de4"]]},{"id":"90aa6f2d.806ad","type":"function","z":"52ba9841.7af4c8","name":"Log heartbeat temp in domoticz","func":"var observation = msg.payload;\nvar payload = null;\n\nvar loggedSensors = {\n    1: {\n        // schakelaar (1 is open, 0 is dicht) \n        idx: 18,\n        svalue: true        \n    },     \n    2: {\n        // temp sensor (graden C) \n        idx: 19,\n        svalue: true\n    },\n    3: {\n        // humidity sensor (%) \n        idx: 20,\n        nvalue: true        \n    },      \n    4: {\n        // voltage sensor (V) \n        idx: 21,\n        svalue: true        \n    },\n    5: {\n        // stroom sensor (Ah)\n        idx: 22,\n        svalue: true        \n    }    \n  \n};\n\nvar sensor = loggedSensors[observation.sensorId];\nif (sensor && !observation.sensorError) {\n    payload = {\n        idx: sensor.idx,\n        node_id: observation.nodeId\n    };\n    if (sensor.svalue) {\n        payload.svalue = observation.sensorValue;\n    }\n    if (sensor.nvalue) {\n        payload.nvalue = Math.round(Number(observation.sensorValue));\n    }    \n}\n\n\nreturn payload === null ? null : {payload: payload};\n","outputs":1,"noerr":0,"x":425,"y":200,"wires":[["f9afba4f.07e0d8","4ece9ed8.ee1c4"]]},{"id":"f9afba4f.07e0d8","type":"mqtt out","z":"52ba9841.7af4c8","name":"domoticz/in (prowl)","topic":"domoticz/in","qos":"","retain":"","broker":"1185a379.d097bd","x":691,"y":200,"wires":[]},{"id":"3411915c.dce96e","type":"amqp in","z":"d7640cc9.18deb","name":"","topic":"","iotype":"1","ioname":"showcase.ttn_message","server":"62d11e19.37f06","x":128.5,"y":68.14999389648438,"wires":[["c47fa3b3.bed09","dec2638d.07dec"]]},{"id":"b9aa12db.d2e8a","type":"amqp in","z":"52ba9841.7af4c8","name":"","topic":"","iotype":"1","ioname":"showcase.observation","server":"62d11e19.37f06","x":119.5,"y":37.149993896484375,"wires":[["3234b502.94134a","9f1c1e20.93e1b","90aa6f2d.806ad"]]},{"id":"c47fa3b3.bed09","type":"json","z":"d7640cc9.18deb","name":"","x":396,"y":69,"wires":[["dfa94d.578eb6b"]]},{"id":"dec2638d.07dec","type":"debug","z":"d7640cc9.18deb","name":"raw message","active":false,"console":"false","complete":"payload","x":417.5,"y":119.29998779296875,"wires":[]},{"id":"f812c2f4.fa6b3","type":"debug","z":"52ba9841.7af4c8","name":"log observation","active":false,"console":"false","complete":"true","x":799.5,"y":88.29998779296875,"wires":[]},{"id":"dfa94d.578eb6b","type":"function","z":"d7640cc9.18deb","name":"decode to observations","func":"//decode msg.payload.payload with protobuf\n\n// using npm module protocol-buffers (globally installed on server)\n// see: https://www.npmjs.com/package/protocol-buffers\nvar protoBufMsg = context.get(\"protoBufMsg\");\nif (protoBufMsg === undefined) {\n    var fs = global.get(\"fs\");\n    var protoBuf = global.get(\"protoBuf\");\n    protoBufMsg = protoBuf(fs.readFileSync(\"/node-red-data/sensor.proto\"));\n    context.set(\"protoBufMsg\", protoBufMsg);\n}\n\nvar payload = new Buffer(msg.payload.payload, 'base64');\nvar ttnMsg = protoBufMsg.NodeMessage.decode(payload);\n\nvar nodeId = msg.payload.dev_eui;\nvar timestamp = msg.payload.metadata[0].server_time; // todo: bepaal de correcte timestamp\n\n// expect ttnMsg to have a reading property that contains an array of objects\n// each object contains the properties defined in sensor.proto SensorReading\nvar reading = ttnMsg.reading;\n\n// send all sensor values as separate msg's\nfor (var len = reading.length, i=0; i < len; i++) {\n    node.send({\n        topic: \"sensor observation\",\n        payload: {\n            nodeId: nodeId,\n            sensorId: reading[i].id,\n            sensorValue: reading[i].value1,\n            sensorError: reading[i].error,\n            timestamp: timestamp\n        }\n    });\n}\n\n// always notify that node is still alive (in a clean msg)\nreturn {\n        topic: \"sensor observation\",\n        payload: {\n          nodeId: nodeId,\n          sensorId: 0,\n          sensorValue: 1,\n          timestamp: timestamp\n        }\n    };","outputs":1,"noerr":0,"x":596.5,"y":69.449951171875,"wires":[["5b1d268c.b053a8"]]},{"id":"5b1d268c.b053a8","type":"amqp out","z":"d7640cc9.18deb","name":"","routingkey":"","iotype":"1","ioname":"showcase.observation","server":"62d11e19.37f06","x":837.5,"y":69.29995727539062,"wires":[]},{"id":"5ab80c23.bb2de4","type":"debug","z":"52ba9841.7af4c8","name":"","active":false,"console":"false","complete":"true","x":602.5,"y":87.29998779296875,"wires":[]},{"id":"2d2ed768.555b38","type":"function","z":"52ba9841.7af4c8","name":"add observation id","func":"var observationId = msg.payload.insertId;\nvar payload = msg.originalPayload;\npayload.id = observationId;\n\nmsg = {\n    topic: \"logged observation\",\n    payload: payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":808.5,"y":37.43999481201172,"wires":[["3cd3f3c.0ba0b0c","2be57a32.94ff16"]]},{"id":"3cd3f3c.0ba0b0c","type":"amqp out","z":"52ba9841.7af4c8","name":"","routingkey":"","iotype":"1","ioname":"showcase.logged_observation","server":"62d11e19.37f06","x":1074.5,"y":37.29999542236328,"wires":[]},{"id":"2be57a32.94ff16","type":"debug","z":"52ba9841.7af4c8","name":"","active":false,"console":"false","complete":"false","x":1013.5,"y":87.30000305175781,"wires":[]},{"id":"469c457d.abc18c","type":"amqp in","z":"be490f86.19595","name":"","topic":"","iotype":"1","ioname":"showcase.logged_observation","server":"62d11e19.37f06","x":143.5,"y":74.14999389648438,"wires":[["82c9210e.093f4"]]},{"id":"82c9210e.093f4","type":"function","z":"be490f86.19595","name":"haal alarmregels","func":"msg.originalPayload = msg.payload;\nmsg.topic = \"SELECT id, alarm_trigger FROM alarm_regel WHERE \" +\n    \"node = '\" + msg.payload.nodeId + \"'\" +\n    \" AND \" +\n    \"sensor = \" + msg.payload.sensorId + \";\";\nreturn msg;","outputs":1,"noerr":0,"x":411.5,"y":74.44999694824219,"wires":[["801977fa.c23ed8"]]},{"id":"801977fa.c23ed8","type":"mysql","z":"be490f86.19595","mydb":"cbe500ee.718ca","name":"","x":590,"y":74,"wires":[["76a96778.5456b8","bac44cbb.b4b28"]]},{"id":"76a96778.5456b8","type":"function","z":"be490f86.19595","name":"check alarmregels","func":"var safeEval = global.get(\"safeEval\");\n\nvar rules = msg.payload;\nvar observation = msg.originalPayload;\nvar value = observation.sensorValue;\n\nfunction sendAlert(rule) {\n    var alertMsg = {\n        topic: \"rule alert\",\n        payload: {\n            nodeId: observation.nodeId,\n            sensorId: observation.sensorId,\n            sensorValue: observation.sensorValue,\n            observationId: observation.id,\n            ruleId: rule.id\n        }\n    }\n    node.send(alertMsg)    \n}\n\nfunction timeoutAlert(rule) {\n    delete heartbeatTimers[rule.id];\n    sendAlert(rule);\n}\n\nif (observation.sensorId === 0) {\n    // sensor 0 is the heartbeat, setup timeout(s)\n    var heartbeatTimers = context.get(\"heartbeatTimers\") || {};\n    for (var len = rules.length, i = 0; i < len; i++) {\n        // stop running timer\n        var timer = heartbeatTimers[rules[i].id];\n        // reset heartbeat timeout timer\n        if (timer) {\n            clearTimeout(timer);\n        }\n        var timeoutSeconds = Number(rules[i].alarm_trigger);\n        if (!isNaN(timeoutSeconds)) {\n            timer = setTimeout(timeoutAlert, timeoutSeconds * 1000, rules[i]);\n            heartbeatTimers[rules[i].id] = timer;            \n        }\n    }\n    context.set(\"heartbeatTimers\", heartbeatTimers);\n} else if (!observation.sensorError) {\n    // evaluate alarm_trigger(s)\n    for (var len = rules.length, i = 0; i < len; i++) {\n        try {\n            var evalContext = {\n                X: value,\n                x: value\n            };\n            var result = safeEval(rules[i].alarm_trigger, evalContext);\n            node.warn(\"rule evaluation for rule \" + rules[i].id +\n                \" on state '\" + rules[i].alarm_trigger + \"', with x = \" + value + \" returns \" + result);\n            if (result) {\n                sendAlert(rules[i]);\n            }\n        } catch (err) {\n            // todo: log rule evaluation error\n            node.error(\"rule evaluation error for rule \" + rules[i].id +\n                \" on state '\" + rules[i].alarm_trigger + \"', with x = \" + value);\n        }\n    }\n}\n","outputs":1,"noerr":0,"x":784.5,"y":74.44999694824219,"wires":[["f2f4ca99.9581a8","c648babe.a6ad08"]]},{"id":"f2f4ca99.9581a8","type":"amqp out","z":"be490f86.19595","name":"","routingkey":"","iotype":"1","ioname":"showcase.alert","server":"62d11e19.37f06","x":997.5,"y":74.30000305175781,"wires":[]},{"id":"bac44cbb.b4b28","type":"debug","z":"be490f86.19595","name":"","active":false,"console":"false","complete":"payload","x":765.5,"y":124.29998779296875,"wires":[]},{"id":"9509f6a8.7538c8","type":"amqp in","z":"2acfce56.22a7b2","name":"","topic":"","iotype":"1","ioname":"showcase.alert","server":"62d11e19.37f06","x":108.5,"y":146.14999389648438,"wires":[["12efee9.66ad811","136f40a7.3a376f"]]},{"id":"12efee9.66ad811","type":"function","z":"2acfce56.22a7b2","name":"get alert notification actions","func":"// notification table has yet to be implemented\nmsg.topic = \n    \"SELECT kanaal, p1, p2, p3, p4, meldingtekst FROM alarm_notificatie \" +\n    \"WHERE alarm_regel = \" + msg.payload.ruleId + \";\";\nmsg.originalPayload = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":388.5,"y":125.44999694824219,"wires":[["65847d9a.9d1b34"]]},{"id":"136f40a7.3a376f","type":"function","z":"2acfce56.22a7b2","name":"log alert","func":"msg.topic = \n    \"INSERT INTO alarm ( \" +\n        \"alarm_regel,\" +\n        \"observatie) \" +\n    \"VALUES (\" +\n        msg.payload.ruleId + \",\" +\n        msg.payload.observationId + \n    \");\";\nmsg.originalPayload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":328.5,"y":168.44998168945312,"wires":[["9b7489cf.d3c698","399aa278.659a4e"]]},{"id":"9b7489cf.d3c698","type":"mysql","z":"2acfce56.22a7b2","mydb":"cbe500ee.718ca","name":"","x":484,"y":169,"wires":[[]]},{"id":"65847d9a.9d1b34","type":"mysql","z":"2acfce56.22a7b2","mydb":"cbe500ee.718ca","name":"","x":602,"y":125,"wires":[["9b608ccd.27f3e","54d9245a.d1904c","39201c60.eea254"]]},{"id":"399aa278.659a4e","type":"debug","z":"2acfce56.22a7b2","name":"","active":false,"console":"false","complete":"false","x":491.5,"y":216.29998779296875,"wires":[]},{"id":"9f1c1e20.93e1b","type":"debug","z":"52ba9841.7af4c8","name":"","active":false,"console":"false","complete":"false","x":362.5,"y":84.29998779296875,"wires":[]},{"id":"cb6807a0.d9fd18","type":"Slack Bot Out","z":"2acfce56.22a7b2","name":"sparky (slack)","apiToken":"xoxb-63081672787-taRL39u95elfJ8ARh1gGvRUR","channel":"","x":972,"y":103,"wires":[]},{"id":"545b676c.d7ae28","type":"telegram sender","z":"2acfce56.22a7b2","name":"sparky (telegram)","bot":"b3c7fccb.6d8ba","x":1007,"y":152,"wires":[[]]},{"id":"9b608ccd.27f3e","type":"function","z":"2acfce56.22a7b2","name":"notify to Slack","func":"var notificaties = msg.payload;\nvar alert = msg.originalPayload;\n\nfor (var i=0, len = notificaties.length; i < len; i++) {\n    var notificatie = notificaties[i];\n    \n    if (notificatie.kanaal === \"slack\") {\n        var slackMsg = {\n            payload: notificatie.meldingtekst\n        };\n        if (notificatie.p1) {\n            slackMsg.channel = notificatie.p1;\n        }\n        node.send(slackMsg)\n    }\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":786,"y":103,"wires":[[]]},{"id":"54d9245a.d1904c","type":"function","z":"2acfce56.22a7b2","name":"notify to Telegram","func":"var notificaties = msg.payload;\nvar alert = msg.originalPayload;\n\nfor (var i=0, len = notificaties.length; i < len; i++) {\n    var notificatie = notificaties[i];\n    \n    if (notificatie.kanaal === \"telegram\") {\n        node.send({\n            payload: {\n                type: \"message\",\n                content: notificatie.meldingtekst,\n                chatId: notificatie.p1\n            }\n        });\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":797,"y":152,"wires":[[]]},{"id":"e77777ba.a5ad88","type":"inject","z":"6e2fec04.b5dce4","name":"raw TTN protobuf alive test msg","topic":"70B3D57ED0000105/devices/000000007FEE6E5B/up","payload":"{\"payload\":\"CgQIARgC\",\"port\":1,\"counter\":8,\"dev_eui\":\"000000007FEE6E5B\",\"metadata\":[{\"frequency\":868.5,\"datarate\":\"SF7BW125\",\"codingrate\":\"4/5\",\"gateway_timestamp\":2913536323,\"channel\":2,\"server_time\":\"2016-09-09T09:14:32.141349077Z\",\"rssi\":-34,\"lsnr\":6.2,\"rfchain\":1,\"crc\":1,\"modulation\":\"LORA\",\"gateway_eui\":\"0000024B0805026F\",\"altitude\":-1,\"longitude\":5.26561,\"latitude\":52.05755}]}","payloadType":"str","repeat":"","crontab":"","once":false,"x":181,"y":89,"wires":[["b3d9ed67.a49e5"]]},{"id":"7a30efb7.d38fe","type":"comment","z":"6e2fec04.b5dce4","name":"Raw base64 test messages","info":"","x":173,"y":40,"wires":[]},{"id":"b3d9ed67.a49e5","type":"amqp out","z":"6e2fec04.b5dce4","name":"","routingkey":"","iotype":"1","ioname":"showcase.ttn_message","server":"62d11e19.37f06","x":506.5,"y":193.29998779296875,"wires":[]},{"id":"c648babe.a6ad08","type":"debug","z":"be490f86.19595","name":"","active":false,"console":"false","complete":"false","x":988.5,"y":122.29998779296875,"wires":[]},{"id":"5bc3fb95.080b34","type":"inject","z":"6e2fec04.b5dce4","name":"test node 00000000D1EC2A39 sensor 2 (temp): 23","topic":"sensor observation","payload":"{\"timestamp\":\"2016-08-02T09:26:56.369421Z\",\"nodeId\":\"00000000D1EC2A39\",\"sensorId\":2,\"sensorError\":0,\"sensorValue\":\"23\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":865,"y":86,"wires":[["1ae86ba7.6f57f4"]]},{"id":"1ae86ba7.6f57f4","type":"amqp out","z":"6e2fec04.b5dce4","name":"","routingkey":"","iotype":"1","ioname":"showcase.observation","server":"62d11e19.37f06","x":1232,"y":169,"wires":[]},{"id":"23d0f6b5.b2337a","type":"comment","z":"6e2fec04.b5dce4","name":"Decoded test observations","info":"","x":788,"y":38,"wires":[]},{"id":"49b7a47f.49bdac","type":"comment","z":"52ba9841.7af4c8","name":"log to domoticz (legacy support)","info":"","x":425,"y":155,"wires":[]},{"id":"4ece9ed8.ee1c4","type":"debug","z":"52ba9841.7af4c8","name":"","active":false,"console":"false","complete":"false","x":675,"y":249,"wires":[]},{"id":"df0afc4f.9af58","type":"inject","z":"6e2fec04.b5dce4","name":"test node 00000000D1EC2A39 sensor 0 (heartbeat)","topic":"sensor observation","payload":"{\"timestamp\":\"2016-08-02T09:26:56.369421Z\",\"nodeId\":\"00000000D1EC2A39\",\"sensorId\":0,\"sensorError\":0,\"sensorValue\":\"0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":875,"y":302,"wires":[["1ae86ba7.6f57f4"]]},{"id":"39201c60.eea254","type":"debug","z":"2acfce56.22a7b2","name":"","active":false,"console":"false","complete":"false","x":779,"y":201,"wires":[]},{"id":"ba729509.017e78","type":"inject","z":"6e2fec04.b5dce4","name":"test node 00000000D1EC2A39 sensor 2 (temp): 2","topic":"sensor observation","payload":"{\"timestamp\":\"2016-08-02T09:26:56.369421Z\",\"nodeId\":\"00000000D1EC2A39\",\"sensorId\":2,\"sensorError\":0,\"sensorValue\":\"2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":865,"y":133,"wires":[["1ae86ba7.6f57f4"]]},{"id":"13c7dae3.efce65","type":"inject","z":"6e2fec04.b5dce4","name":"test node 00000000D1EC2A39 sensor 2 (temp): 80","topic":"sensor observation","payload":"{\"timestamp\":\"2016-08-02T09:26:56.369421Z\",\"nodeId\":\"00000000D1EC2A39\",\"sensorId\":2,\"sensorError\":0,\"sensorValue\":\"80\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":866,"y":179,"wires":[["1ae86ba7.6f57f4"]]},{"id":"dd0d7899.e5c0d8","type":"inject","z":"6e2fec04.b5dce4","name":"test node 00000000D1EC2A39 sensor 2 (temp): error","topic":"sensor observation","payload":"{\"timestamp\":\"2016-08-02T09:26:56.369421Z\",\"nodeId\":\"00000000D1EC2A39\",\"sensorId\":2,\"sensorError\":1,\"sensorValue\":null}","payloadType":"json","repeat":"","crontab":"","once":false,"x":876,"y":228,"wires":[["1ae86ba7.6f57f4"]]}]