docker/node-red/flows/flow2-Send-notification.json
[{"id":"22a9796.5960886","type":"function","z":"2acfce56.22a7b2","name":"Alarm notification","func":"// needs the following fields:\n//      msg.payload.fields.alarm: alarm message to display\n//      msg.payload.dev_eui: device id\n\nmsg.topic = \"SELECT identifier AS devid, slackchannel, telegramchannel FROM sensor where identifier = '\"+ msg.payload.dev_eui + \"'\";\nmsg.alarmPayload = msg.payload;\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":114,"wires":[["a8733663.0f8c98"]]},{"id":"a8733663.0f8c98","type":"mysql","z":"2acfce56.22a7b2","mydb":"cbe500ee.718ca","name":"","x":509,"y":114,"wires":[["2d36b871.4682c8","c2cab950.b13a98","dfeb43e0.4fe75","cad105bc.57f5a8"]]},{"id":"7ab1a17b.9c371","type":"mqtt out","z":"2acfce56.22a7b2","name":"domoticz/in (prowl)","topic":"domoticz/in","qos":"","retain":"","broker":"1185a379.d097bd","x":884,"y":46,"wires":[]},{"id":"a50c08d5.fb3e08","type":"Slack Bot Out","z":"2acfce56.22a7b2","name":"sparky (slack)","apiToken":"xoxb-63081672787-taRL39u95elfJ8ARh1gGvRUR","channel":"","x":874,"y":96,"wires":[]},{"id":"b640fc90.d8a1a","type":"telegram sender","z":"2acfce56.22a7b2","name":"sparky (telegram)","bot":"b3c7fccb.6d8ba","x":901,"y":145,"wires":[[]]},{"id":"2d36b871.4682c8","type":"function","z":"2acfce56.22a7b2","name":"Alarm: Prowl","func":"// tijdelijke code voor prowl, moet zsm verwijderd worden!! Ab\n\nmsg_out = {};\nmsg_out.payload = {};\nmsg_out.payload.dev_eui = msg.alarmPayload.dev_eui;\n\nif (msg.alarmPayload.dev_eui === '0000000029B1A8A0') {\n    msg_out.payload.idx = 6; // Domoticz id\n    msg_out.payload.nvalue = msg.alarmPayload.fields.isOpen;\n    msg_out.payload.svalue = \"\"; //msg.alarmPayload.payload.substring(10,12);\n}\nelse if (msg.alarmPayload.dev_eui === '000000009AA74038') {\n    msg_out.payload.idx = 5; // Domoticz id\n    msg_out.payload.nvalue = msg.alarmPayload.fields.isOpen;\n    msg_out.payload.svalue = \"\"; //msg.alarmPayload.payload.substring(10,12);\n}\n\nreturn msg_out;","outputs":1,"noerr":0,"x":684,"y":46,"wires":[["7ab1a17b.9c371"]]},{"id":"c2cab950.b13a98","type":"function","z":"2acfce56.22a7b2","name":"Alarm: Slack","func":"if(msg.payload[0].slackchannel) {\n  msg.channel = msg.payload[0].slackchannel\n  if(msg.alarmPayload) {\n    msg.payload = \"Alarm: \" + msg.alarmPayload.fields.alarm;\n  } else { \n     msg.payload = \"Alarm\"; \n  }\n  return msg;\n} else { \n  return null;\n}\n","outputs":1,"noerr":0,"x":684,"y":96,"wires":[["a50c08d5.fb3e08"]]},{"id":"dfeb43e0.4fe75","type":"function","z":"2acfce56.22a7b2","name":"Alarm: Telegram","func":"msg.alarmPayload\nif(msg.payload[0].telegramchannel) {\n  msg.payload.type = 'message';\n  msg.payload.chatId = msg.payload[0].telegramchannel;\n  if(msg.alarmPayload) {\n    msg.payload.content = \"Alarm: \" + msg.alarmPayload.fields.alarm;\n  } else { \n     msg.payload.content = \"Alarm\"; \n  }\n  return msg;\n} else { \n  return null;\n}\n","outputs":1,"noerr":0,"x":695,"y":145,"wires":[["b640fc90.d8a1a"]]},{"id":"b81ae129.609fb","type":"function","z":"2acfce56.22a7b2","name":"Alarm log in MySQL","func":"msg.topic = \n \"INSERT INTO event ( \" +\n \"version,\" +\n \"date_created,\" +\n \"event_type_id,\" +\n \"sensor_id,\" +\n \"class,\" + \n \"status,\" +\n \"temperature,\" +\n \"voltage) \" +\n \"SELECT \" +\n    \"1,\" +\n    \"'\"+new Date().toISOString().slice(0, 19).replace('T', ' ')+\"',\" +\n    \"1,\" +\n    \"id, \" + \n    \"'showcase.event.\" + (  msg.payload.fields.isOpen !== undefined ? \"Switch\" :\n                            msg.payload.fields.timeout !== undefined ? \"Timeout\" :\n                            msg.payload.fields.temp !== undefined ? \"Temperature\" :\n                            msg.payload.fields.volt !== undefined ? \"Voltage\" : \"Unknown\"\n                         ) + \"Event',\" +\n    (msg.payload.fields.isOpen === undefined ? \"NULL\" : (msg.payload.fields.isOpen ? \"'OPEN'\" : \"'CLOSED'\")) + \",\" +\n    (msg.payload.fields.temp === undefined ? \"NULL\" : msg.payload.fields.temp) + \",\" +\n    (msg.payload.fields.volt === undefined ? \"NULL\" : msg.payload.fields.volt) + \" \" +\n  \"FROM sensor WHERE identifier LIKE '\"+ msg.payload.dev_eui +\"';\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":171,"wires":[["e8b34fc4.d8a1d","40ad428d.77979c"]]},{"id":"e8b34fc4.d8a1d","type":"mysql","z":"2acfce56.22a7b2","mydb":"cbe500ee.718ca","name":"","x":510,"y":171,"wires":[["97c9d176.caffb"]]},{"id":"cad105bc.57f5a8","type":"amqp out","z":"2acfce56.22a7b2","name":"alarm RabbitMQ","routingkey":"","iotype":"1","ioname":"showcase.alarm","server":"62d11e19.37f06","x":694,"y":193,"wires":[]},{"id":"894aa939.da0a38","type":"link in","z":"2acfce56.22a7b2","name":"Send notification","links":["6c76c1de.a9c9b","839ecaad.995e98"],"x":137.5,"y":141.1500244140625,"wires":[["22a9796.5960886","b81ae129.609fb","9484d3c8.cbf12"]]},{"id":"9484d3c8.cbf12","type":"debug","z":"2acfce56.22a7b2","name":"","active":false,"console":"false","complete":"false","x":303.5,"y":218.29998779296875,"wires":[]},{"id":"97c9d176.caffb","type":"debug","z":"2acfce56.22a7b2","name":"","active":false,"console":"false","complete":"false","x":655.5,"y":357.29998779296875,"wires":[]},{"id":"40ad428d.77979c","type":"debug","z":"2acfce56.22a7b2","name":"","active":false,"console":"false","complete":"true","x":541.5,"y":452.29998779296875,"wires":[]},{"id":"cbe500ee.718ca","type":"MySQLdatabase","z":"","host":"172.25.0.8","port":"3306","db":"showcase","tz":""},{"id":"1185a379.d097bd","type":"mqtt-broker","z":"","broker":"rabbitmq","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b3c7fccb.6d8ba","type":"telegram bot","z":"","botname":"sparky","usernames":"[]","chatids":"[]"},{"id":"62d11e19.37f06","type":"amqp-server","z":"","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"}]