docker/node-red/flows/flow3-TTN-test-messages.json
[{"id":"ef27c5c9.ff2008","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test koffer 1 dicht","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMTswOwKE\", \"port\": 1, \"counter\": 3, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF11BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 4098352996, \"gateway_time\": \"2016-08-03T10:44:24.225385Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:44:25.07906191Z\", \"rssi\": -51, \"lsnr\": 11.5, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":181,"wires":[["c1670e4.4955cf"]]},{"id":"60fdef72.27435","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test keepalive ERR msg","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyO0VS\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":189,"y":100,"wires":[["c1670e4.4955cf"]]},{"id":"caa7e8d7.7e9148","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test koffer 2 open","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMjsx\", \"port\": 1, \"counter\": 116, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.5, \"datarate\": \"SF8BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3143227596, \"gateway_time\": \"2016-08-03T10:28:29.08852Z\", \"channel\": 2, \"server_time\": \"2016-08-03T10:28:29.936604914Z\", \"rssi\": -72, \"lsnr\": 8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":222,"wires":[["c1670e4.4955cf"]]},{"id":"1ccfe5d7.1389ca","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test koffer 2 dicht","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMjsw\", \"port\": 1, \"counter\": 115, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF8BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3139842060, \"gateway_time\": \"2016-08-03T10:28:25.703778Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:28:26.558458675Z\", \"rssi\": -72, \"lsnr\": 10.2, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":262,"wires":[["c1670e4.4955cf"]]},{"id":"ef2ba629.5faf78","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test koffer 1 open","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMTsxOwIP\", \"port\": 1, \"counter\": 4, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF11BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3172636156, \"gateway_time\": \"2016-08-03T10:28:58.514304Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:28:59.436321981Z\", \"rssi\": -51, \"lsnr\": 8.5, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":141,"wires":[["c1670e4.4955cf"]]},{"id":"c7c7411b.5245","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test keepalive 23 msg","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyOzIz\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":179,"y":60,"wires":[["c1670e4.4955cf"]]},{"id":"47d761ae.4f291","type":"inject","z":"4c9ff67a.a5b8c8","name":"TTN test heartbeat","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyOzIz\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":159,"y":302,"wires":[["c1670e4.4955cf"]]},{"id":"c1670e4.4955cf","type":"link out","z":"4c9ff67a.a5b8c8","name":"TTN test msg","links":["27ad23b4.b5636c"],"x":370.5,"y":181.29998779296875,"wires":[]}]