docker/node-red/flows/ttn-server11.json
[{"id":"f24c8a7b.93d17","type":"mqtt in","z":"24aef11d.675aee","name":"TTN exchange receiver","topic":"#","qos":"1","broker":"794db704.d3a6a8","x":160,"y":280,"wires":[["4f43b4b3.90e9e4","71d544b1.fc0e2c"]]},{"id":"4f43b4b3.90e9e4","type":"json","z":"24aef11d.675aee","name":"","x":390,"y":140,"wires":[["281e742f.41605c","5a1066e7.3b2158"]]},{"id":"a1712afc.2d5878","type":"debug","z":"24aef11d.675aee","name":"","active":false,"console":"false","complete":"payload","x":710,"y":200,"wires":[]},{"id":"71d544b1.fc0e2c","type":"debug","z":"24aef11d.675aee","name":"","active":false,"console":"false","complete":"true","x":390,"y":180,"wires":[]},{"id":"65394494.0448a4","type":"function","z":"24aef11d.675aee","name":"Splitter","func":"if (msg.payload.payload.startsWith(\"Alive\")) {\n    return [msg, null];\n} else if (msg.payload.payload.startsWith('Sensor')) {\n    msg.payload.isOpen = (msg.payload.payload.substring(8,9) === '1');\n    msg.payload.alarm = \"deksel \" + (msg.payload.isOpen ? \"open\" : \"dicht\");\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":700,"y":140,"wires":[["ce420767.36c388"],["4f40adb9.da1f84","96d6783c.651e18"]]},{"id":"ef83553c.c54368","type":"inject","z":"24aef11d.675aee","name":"TTN test koffer 1 dicht","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMTswOwKE\", \"port\": 1, \"counter\": 3, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF11BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 4098352996, \"gateway_time\": \"2016-08-03T10:44:24.225385Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:44:25.07906191Z\", \"rssi\": -51, \"lsnr\": 11.5, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":140,"wires":[["4f43b4b3.90e9e4"]]},{"id":"4baf4751.564478","type":"telegram sender","z":"24aef11d.675aee","name":"sparky","bot":"7f205b12.d17ac4","x":1491,"y":122,"wires":[[]]},{"id":"ce420767.36c388","type":"function","z":"24aef11d.675aee","name":"Alive: verwerken","func":"var payload = msg.payload.payload;\n\nvar time = msg.payload.metadata[0].gateway_time;\nvar dev_eui = msg.payload.dev_eui;\nvar node_id = payload.substring(5,6);\nvar temp = payload.substring(7,9);\nvar volt = payload.substring(10,15);\n\nif ( temp==='ER') {\n  temp = \"Temperature error\"  \n} else {\n    // voor Domoticz\n    msg2 = {};\n    msg2.payload = {};\n    msg2.payload.idx = 19;\n    msg2.payload.svalue = temp;\n    msg2.payload.node_id = node_id;\n}\n\nmsg3 = {};\nmsg3.payload = {};\nmsg3.payload.idx = 20;\nmsg3.payload.svalue = volt;\n\n// voor testen\nmsg.payload = {};\nmsg.payload.devid = dev_eui;\nmsg.payload.temperatuur = temp;\nmsg.payload.UTCtijdstip = time;\n\n// reset heartbeat timeout timer\nvar timer = context.get(dev_eui);\nif (timer) {\n    clearTimeout(timer);\n}\n// start new timeout timer\ntimer = setTimeout(function() {\n    // timeout has expired, send warning\n    var timeoutMsg = {\n        topic: \"timeout\",\n        payload: {\n            devid: dev_eui,\n            UTCtijdstip: new Date().toISOString()\n        }\n    };\n    node.send([null, timeoutMsg, null, null]);\n}, 60000); // timeout in ms\ncontext.set(dev_eui, timer);\n\nreturn [msg, null, msg2, msg3];","outputs":"4","noerr":0,"x":894,"y":113,"wires":[["e78a3635.7fe738","a2ea6660.9db9c8"],["50a949eb.ebddf8"],["581a1d04.4664d4","2e556ebf.d9a0e2"],["581a1d04.4664d4","2e556ebf.d9a0e2"]]},{"id":"b42eda10.a63ec8","type":"function","z":"24aef11d.675aee","name":"Alive: Telegram","func":"msg_out = {};\nmsg_out.payload = {};\n\nmsg_out.payload.type = 'message';\nmsg_out.payload.chatId = '-1001056236743';\nmsg_out.payload.content = JSON.stringify(msg.payload);\n\nreturn msg_out;","outputs":1,"noerr":0,"x":1341,"y":122,"wires":[[]]},{"id":"4f40adb9.da1f84","type":"function","z":"24aef11d.675aee","name":"Alarm: find channels","func":"msg.topic = \"SELECT identifier AS devid, slackchannel, telegramchannel FROM sensor where identifier = '\"+ msg.payload.dev_eui + \"'\";\nmsg.alarmPayload = msg.payload;\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":220,"wires":[["9fd5b82a.9044f8"]]},{"id":"9fd5b82a.9044f8","type":"mysql","z":"24aef11d.675aee","mydb":"6606054.73c60fc","name":"","x":1120,"y":220,"wires":[["8ffba07d.af566","b5b87dd0.46704","718d7e8f.9fcef","ba62c5d7.f90998"]]},{"id":"2e556ebf.d9a0e2","type":"mqtt out","z":"24aef11d.675aee","name":"domoticz/in (prowl)","topic":"domoticz/in","qos":"","retain":"","broker":"7d5d5ee9.190a7","x":1530,"y":220,"wires":[]},{"id":"1ee7791b.5b0447","type":"Slack Bot Out","z":"24aef11d.675aee","name":"sparky (slack)","apiToken":"xoxb-63081672787-taRL39u95elfJ8ARh1gGvRUR","channel":"","x":1520,"y":280,"wires":[]},{"id":"f39ef9f6.019128","type":"telegram sender","z":"24aef11d.675aee","name":"sparky (telegram)","bot":"7f205b12.d17ac4","x":1530,"y":340,"wires":[[]]},{"id":"8ffba07d.af566","type":"function","z":"24aef11d.675aee","name":"Alarm: Prowl","func":"msg_out = {};\nmsg_out.payload = {};\nmsg_out.payload.dev_eui = msg.alarmPayload.dev_eui;\n\nif (msg.alarmPayload.dev_eui === '0000000029B1A8A0') {\n    msg_out.payload.idx = 6; // Domoticz id\n    msg_out.payload.nvalue = parseInt(msg.alarmPayload.payload.substring(8,9));\n    msg_out.payload.svalue = msg.alarmPayload.payload.substring(10,12);\n}\nelse if (msg.alarmPayload.dev_eui === '000000009AA74038') {\n    msg_out.payload.idx = 5; // Domoticz id\n    msg_out.payload.nvalue = parseInt(msg.alarmPayload.payload.substring(8,9));\n    msg_out.payload.svalue = msg.alarmPayload.payload.substring(10,12);\n}\n\nreturn msg_out;","outputs":1,"noerr":0,"x":1330,"y":220,"wires":[["2e556ebf.d9a0e2"]]},{"id":"b5b87dd0.46704","type":"function","z":"24aef11d.675aee","name":"Alarm: Slack","func":"if(msg.payload[0].slackchannel) {\n  msg.channel = msg.payload[0].slackchannel\n  if(msg.alarmPayload) {\n    msg.payload = \"Alarm: \" + msg.alarmPayload.alarm;\n  } else { \n     msg.payload = \"Alarm\"; \n  }\n  return msg;\n} else { \n  return null;\n}\n","outputs":1,"noerr":0,"x":1330,"y":280,"wires":[["1ee7791b.5b0447"]]},{"id":"718d7e8f.9fcef","type":"function","z":"24aef11d.675aee","name":"Alarm: Telegram","func":"msg.alarmPayload\nif(msg.payload[0].telegramchannel) {\n  msg.payload.type = 'message';\n  msg.payload.chatId = msg.payload[0].telegramchannel;\n  if(msg.alarmPayload) {\n    msg.payload.content = \"Alarm: \" + msg.alarmPayload.alarm;\n  } else { \n     msg.payload.content = \"Alarm\"; \n  }\n  return msg;\n} else { \n  return null;\n}\n","outputs":1,"noerr":0,"x":1340,"y":340,"wires":[["f39ef9f6.019128"]]},{"id":"ceadd04.a63ef3","type":"inject","z":"24aef11d.675aee","name":"TTN test keepalive ERR msg","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyO0VS\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":60,"wires":[["4f43b4b3.90e9e4"]]},{"id":"93df92ee.ea1fc","type":"mysql","z":"24aef11d.675aee","mydb":"6606054.73c60fc","name":"","x":1501,"y":62,"wires":[["6e258789.099508"]]},{"id":"ce4f5124.4e542","type":"function","z":"24aef11d.675aee","name":"Alive: MySQL","func":"msg.topic = \n \"INSERT INTO event ( \" +\n \"version,\" +\n \"date_created,\" +\n \"event_type_id,\" +\n \"sensor_id,\" +\n \"class,\" + \n \"status,\" +\n \"temperature) \" +\n \"SELECT \" +\n    \"1,\" +\n    \"'\"+new Date().toISOString().slice(0, 19).replace('T', ' ')+\"',\" +\n    \"2,\" +\n    \"id, \" + \n    \"'showcase.event.TemperatureEvent',\" +\n    \"NULL,\" +\n    msg.payload.temperatuur + \" \" + \n  \"FROM sensor WHERE identifier LIKE '\"+msg.payload.devid+\"';\";\nreturn msg;","outputs":1,"noerr":0,"x":1341,"y":62,"wires":[["93df92ee.ea1fc"]]},{"id":"96d6783c.651e18","type":"function","z":"24aef11d.675aee","name":"Alarm: MySQL","func":"msg.topic = \n \"INSERT INTO event ( \" +\n \"version,\" +\n \"date_created,\" +\n \"event_type_id,\" +\n \"sensor_id,\" +\n \"class,\" + \n \"status,\" +\n \"temperature) \" +\n \"SELECT \" +\n    \"1,\" +\n    \"'\"+new Date().toISOString().slice(0, 19).replace('T', ' ')+\"',\" +\n    \"1,\" +\n    \"id, \" + \n    \"'showcase.event.SwitchEvent',\" +\n    (msg.payload.isOpen?\"'OPEN'\":\"'CLOSED'\") + \",\" +\n    \"NULL \"+ \n  \"FROM sensor WHERE identifier LIKE '\"+msg.payload.dev_eui+\"';\";\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":280,"wires":[["c88edcb7.02eb8"]]},{"id":"c88edcb7.02eb8","type":"mysql","z":"24aef11d.675aee","mydb":"6606054.73c60fc","name":"","x":1120,"y":280,"wires":[[]]},{"id":"35b47e3e.ecdba2","type":"inject","z":"24aef11d.675aee","name":"TTN test koffer 2 open","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMjsx\", \"port\": 1, \"counter\": 116, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.5, \"datarate\": \"SF8BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3143227596, \"gateway_time\": \"2016-08-03T10:28:29.08852Z\", \"channel\": 2, \"server_time\": \"2016-08-03T10:28:29.936604914Z\", \"rssi\": -72, \"lsnr\": 8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":200,"wires":[["4f43b4b3.90e9e4"]]},{"id":"a6be5bf8.f26d88","type":"inject","z":"24aef11d.675aee","name":"TTN test koffer 2 dicht","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMjsw\", \"port\": 1, \"counter\": 115, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF8BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3139842060, \"gateway_time\": \"2016-08-03T10:28:25.703778Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:28:26.558458675Z\", \"rssi\": -72, \"lsnr\": 10.2, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":240,"wires":[["4f43b4b3.90e9e4"]]},{"id":"75a7426f.d0af8c","type":"inject","z":"24aef11d.675aee","name":"TTN test koffer 1 open","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMTsxOwIP\", \"port\": 1, \"counter\": 4, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF11BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3172636156, \"gateway_time\": \"2016-08-03T10:28:58.514304Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:28:59.436321981Z\", \"rssi\": -51, \"lsnr\": 8.5, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":100,"wires":[["4f43b4b3.90e9e4"]]},{"id":"ba62c5d7.f90998","type":"amqp out","z":"24aef11d.675aee","name":"alarm","routingkey":"","iotype":"1","ioname":"showcase.alarm","server":"985ba5a9.8b6398","x":1310,"y":400,"wires":[]},{"id":"24c8d07e.b0346","type":"amqp out","z":"24aef11d.675aee","name":"ruwe stroom","routingkey":"","iotype":"1","ioname":"showcase.raw","server":"985ba5a9.8b6398","x":710,"y":80,"wires":[]},{"id":"281e742f.41605c","type":"function","z":"24aef11d.675aee","name":"n2s_converter","func":"// { \"gatewayEui\": \"0000024B0805026F\", \"nodeEui\": \"02015E01\", \"time\": \"2016-02-18T09:58:49.075896468Z\", \"frequency\": 868.5, \"dataRate\": \"SF7BW125\", \n// \"rssi\": -30, \"snr\": 6.5, \"rawData\": \"QAFeAQIAmyIBImZILKIpUOq5l37/UUg=\", \"data\": \"CgAUVXiVKQAQIw==\" }\n\nmsg2 = {};\nmsg2.payload = {};\nmsg2.payload.dev_id = msg.payload.dev_eui.substring(8,16);\nmsg2.payload.counter = msg.payload.counter;\nmsg2.payload.datatxt = new Buffer(msg.payload.payload, 'base64').toString();\nmsg2.payload.datahex = new Buffer(msg.payload.payload, 'base64').toString('hex');\n\nreturn msg2;","outputs":"1","noerr":0,"x":580,"y":340,"wires":[["8a1d070c.5c3be","279dfca4.bbfafc"]]},{"id":"8a1d070c.5c3be","type":"debug","z":"24aef11d.675aee","name":"","active":true,"console":"false","complete":"false","x":770,"y":340,"wires":[]},{"id":"279dfca4.bbfafc","type":"file","z":"24aef11d.675aee","name":"","filename":"ttn_logging","appendNewline":true,"createDir":true,"overwriteFile":"false","x":770,"y":380,"wires":[]},{"id":"e78a3635.7fe738","type":"amqp out","z":"24aef11d.675aee","name":"keepalive","routingkey":"","iotype":"1","ioname":"showcase.keepalive","server":"985ba5a9.8b6398","x":1082,"y":100,"wires":[]},{"id":"5a1066e7.3b2158","type":"function","z":"24aef11d.675aee","name":"Base64","func":"msg.payload.payload = new Buffer(msg.payload.payload, 'base64').toString();\n// msg.payload.payload_split = msg.payload.payload.split(\";\");\nreturn msg;","outputs":"1","noerr":0,"x":520,"y":140,"wires":[["65394494.0448a4","24c8d07e.b0346","a1712afc.2d5878"]]},{"id":"6e258789.099508","type":"debug","z":"24aef11d.675aee","name":"","active":false,"console":"false","complete":"false","x":1651,"y":62,"wires":[]},{"id":"a307d6d5.16b868","type":"inject","z":"24aef11d.675aee","name":"TTN test keepalive 23 msg","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyOzIz\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":20,"wires":[["4f43b4b3.90e9e4"]]},{"id":"a2ea6660.9db9c8","type":"function","z":"24aef11d.675aee","name":"Alive: Filter error msg","func":"if(msg.payload.temperatuur != 'Temperature error') { \n return [msg,null];   \n} else { \n return [null,msg];   \n}","outputs":"2","noerr":0,"x":1121,"y":62,"wires":[["ce4f5124.4e542","b42eda10.a63ec8"],[]]},{"id":"50a949eb.ebddf8","type":"function","z":"24aef11d.675aee","name":"to do: no longer alive","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1132,"y":160,"wires":[["fd3985a0.445998"]]},{"id":"fd3985a0.445998","type":"debug","z":"24aef11d.675aee","name":"","active":false,"console":"false","complete":"false","x":1332,"y":166,"wires":[]},{"id":"9a7433e2.1534f","type":"inject","z":"24aef11d.675aee","name":"TTN test heartbeat","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyOzIz\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0_alive_test\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":159,"y":383,"wires":[["4f43b4b3.90e9e4"]]},{"id":"581a1d04.4664d4","type":"debug","z":"24aef11d.675aee","name":"","active":false,"console":"false","complete":"false","x":1102,"y":362,"wires":[]},{"id":"794db704.d3a6a8","type":"mqtt-broker","z":"24aef11d.675aee","broker":"staging.thethingsnetwork.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7f205b12.d17ac4","type":"telegram bot","z":"24aef11d.675aee","botname":"sparky","usernames":"[]","chatids":"[]"},{"id":"6606054.73c60fc","type":"MySQLdatabase","z":"24aef11d.675aee","host":"172.25.0.8","port":"3306","db":"showcase","tz":""},{"id":"7d5d5ee9.190a7","type":"mqtt-broker","z":"","broker":"rabbitmq","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"985ba5a9.8b6398","type":"amqp-server","z":"24aef11d.675aee","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"}]