docker/node-red/flows/ttn-to-domoticz.json
[{"id":"f24c8a7b.93d17","type":"mqtt in","z":"24aef11d.675aee","name":"","topic":"#","qos":"2","broker":"58710053.e9e5d","x":144,"y":169,"wires":[["4f43b4b3.90e9e4","71d544b1.fc0e2c"]]},{"id":"4f43b4b3.90e9e4","type":"json","z":"24aef11d.675aee","name":"","x":287.3332824707031,"y":168,"wires":[["a1712afc.2d5878","65394494.0448a4"]]},{"id":"a1712afc.2d5878","type":"debug","z":"24aef11d.675aee","name":"","active":true,"console":"false","complete":"false","x":466.33331298828125,"y":168.38885498046875,"wires":[]},{"id":"2d2e0b35.3b198c","type":"mqtt out","z":"24aef11d.675aee","name":"","topic":"domoticz/in","qos":"","retain":"","broker":"667ef3e.007310c","x":783,"y":320,"wires":[]},{"id":"660c610.e2af02","type":"debug","z":"24aef11d.675aee","name":"","active":true,"console":"false","complete":"false","x":773,"y":254,"wires":[]},{"id":"71d544b1.fc0e2c","type":"debug","z":"24aef11d.675aee","name":"","active":false,"console":"false","complete":"false","x":382,"y":104,"wires":[]},{"id":"65394494.0448a4","type":"function","z":"24aef11d.675aee","name":"TTN_to_Domoticz","func":"msg_out = {};\nmsg_out.payload = {};\nmsg_out.payload.dev_eui = msg.payload.dev_eui;\n\nif (msg.payload.dev_eui === '0000000029B1A8A0') {\n}\nelse if (msg.payload.dev_eui === '000000009AA74038') {\n    msg_out.payload.idx = 19;\n    msg_out.payload.nvalue = parseInt(new Buffer(msg.payload.payload, 'base64').toString().substring(8,9));\n}\n\nreturn msg_out;\n","outputs":1,"noerr":0,"x":520,"y":292.5,"wires":[["660c610.e2af02","2d2e0b35.3b198c"]]},{"id":"58710053.e9e5d","type":"mqtt-broker","z":"24aef11d.675aee","broker":"staging.thethingsnetwork.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"667ef3e.007310c","type":"mqtt-broker","z":"","broker":"172.25.0.3","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""}]