docker/node-red/flows/ttn-server11-cleanup.json
[{"id":"42969578.13fa0c","type":"mqtt in","z":"24aef11d.675aee","name":"TTN exchange receiver","topic":"#","qos":"1","broker":"794db704.d3a6a8","x":177,"y":425,"wires":[["90b0b57f.4c1098","97d85d2a.cc05a"]]},{"id":"90b0b57f.4c1098","type":"json","z":"24aef11d.675aee","name":"","x":407,"y":285,"wires":[["e5279664.692798","a0f1eb3e.39b2f8","79866be7.535de4"]]},{"id":"97d85d2a.cc05a","type":"debug","z":"24aef11d.675aee","name":"","active":false,"console":"false","complete":"true","x":407,"y":325,"wires":[]},{"id":"4cec3ac5.73ce14","type":"inject","z":"24aef11d.675aee","name":"TTN test koffer 1 dicht","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMTswOwKE\", \"port\": 1, \"counter\": 3, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF11BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 4098352996, \"gateway_time\": \"2016-08-03T10:44:24.225385Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:44:25.07906191Z\", \"rssi\": -51, \"lsnr\": 11.5, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":177,"y":285,"wires":[["90b0b57f.4c1098"]]},{"id":"aa38495f.44a0e8","type":"function","z":"24aef11d.675aee","name":"Alarm notification","func":"// needs the following fields:\n//      msg.payload.fields.alarm: alarm message to display\n//      msg.payload.dev_eui: device id\n\nmsg.topic = \"SELECT identifier AS devid, slackchannel, telegramchannel FROM sensor where identifier = '\"+ msg.payload.dev_eui + \"'\";\nmsg.alarmPayload = msg.payload;\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":1129,"y":368,"wires":[["bc7bc2f7.920a7"]]},{"id":"bc7bc2f7.920a7","type":"mysql","z":"24aef11d.675aee","mydb":"6606054.73c60fc","name":"","x":1319,"y":368,"wires":[["e41170bc.03612","6a36f9ec.d50708","230f8587.31f05a","4b90df74.c0887"]]},{"id":"e7e87cb8.7bb21","type":"mqtt out","z":"24aef11d.675aee","name":"domoticz/in (prowl)","topic":"domoticz/in","qos":"","retain":"","broker":"7d5d5ee9.190a7","x":1694,"y":300,"wires":[]},{"id":"ac09c498.f214a8","type":"Slack Bot Out","z":"24aef11d.675aee","name":"sparky (slack)","apiToken":"xoxb-63081672787-taRL39u95elfJ8ARh1gGvRUR","channel":"","x":1684,"y":350,"wires":[]},{"id":"e10d8110.7b123","type":"telegram sender","z":"24aef11d.675aee","name":"sparky (telegram)","bot":"7f205b12.d17ac4","x":1711,"y":399,"wires":[[]]},{"id":"e41170bc.03612","type":"function","z":"24aef11d.675aee","name":"Alarm: Prowl","func":"// tijdelijke code voor prowl, moet zsm verwijderd worden!! Ab\n\nmsg_out = {};\nmsg_out.payload = {};\nmsg_out.payload.dev_eui = msg.alarmPayload.dev_eui;\n\nif (msg.alarmPayload.dev_eui === '0000000029B1A8A0') {\n    msg_out.payload.idx = 6; // Domoticz id\n    msg_out.payload.nvalue = msg.alarmPayload.fields.isOpen;\n    msg_out.payload.svalue = \"\"; //msg.alarmPayload.payload.substring(10,12);\n}\nelse if (msg.alarmPayload.dev_eui === '000000009AA74038') {\n    msg_out.payload.idx = 5; // Domoticz id\n    msg_out.payload.nvalue = msg.alarmPayload.fields.isOpen;\n    msg_out.payload.svalue = \"\"; //msg.alarmPayload.payload.substring(10,12);\n}\n\nreturn msg_out;","outputs":1,"noerr":0,"x":1494,"y":300,"wires":[["e7e87cb8.7bb21"]]},{"id":"6a36f9ec.d50708","type":"function","z":"24aef11d.675aee","name":"Alarm: Slack","func":"if(msg.payload[0].slackchannel) {\n  msg.channel = msg.payload[0].slackchannel\n  if(msg.alarmPayload) {\n    msg.payload = \"Alarm: \" + msg.alarmPayload.fields.alarm;\n  } else { \n     msg.payload = \"Alarm\"; \n  }\n  return msg;\n} else { \n  return null;\n}\n","outputs":1,"noerr":0,"x":1494,"y":350,"wires":[["ac09c498.f214a8"]]},{"id":"230f8587.31f05a","type":"function","z":"24aef11d.675aee","name":"Alarm: Telegram","func":"msg.alarmPayload\nif(msg.payload[0].telegramchannel) {\n  msg.payload.type = 'message';\n  msg.payload.chatId = msg.payload[0].telegramchannel;\n  if(msg.alarmPayload) {\n    msg.payload.content = \"Alarm: \" + msg.alarmPayload.fields.alarm;\n  } else { \n     msg.payload.content = \"Alarm\"; \n  }\n  return msg;\n} else { \n  return null;\n}\n","outputs":1,"noerr":0,"x":1505,"y":399,"wires":[["e10d8110.7b123"]]},{"id":"ad1a8baf.6ff3b8","type":"inject","z":"24aef11d.675aee","name":"TTN test keepalive ERR msg","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyO0VS\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":157,"y":205,"wires":[["90b0b57f.4c1098"]]},{"id":"4644dff8.39748","type":"mysql","z":"24aef11d.675aee","mydb":"6606054.73c60fc","name":"","x":1090,"y":138,"wires":[[]]},{"id":"2ff8e10e.9c06ae","type":"function","z":"24aef11d.675aee","name":"Log heartbeat in MySQL","func":"var temp = msg.payload.fields.temp;\nmsg.topic = \n     \"INSERT INTO event ( \" +\n     \"version,\" +\n     \"date_created,\" +\n     \"event_type_id,\" +\n     \"sensor_id,\" +\n     \"class,\" + \n     \"status,\" +\n     \"temperature) \" +\n     \"SELECT \" +\n        \"1,\" +\n        \"'\"+new Date().toISOString().slice(0, 19).replace('T', ' ')+\"',\" +\n        \"2,\" +\n        \"id, \" + \n        \"'showcase.event.TemperatureEvent',\" +\n        \"NULL,\" +\n        (temp !== \"ER\" ? temp : \"NULL\") + \" \" + \n      \"FROM sensor WHERE identifier LIKE '\" + msg.payload.dev_eui + \"';\";\nmsg.heartbeatPayload = msg.payload;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":898,"y":137,"wires":[["4644dff8.39748"]]},{"id":"eaebb973.814dd8","type":"function","z":"24aef11d.675aee","name":"Alarm log in MySQL","func":"msg.topic = \n \"INSERT INTO event ( \" +\n \"version,\" +\n \"date_created,\" +\n \"event_type_id,\" +\n \"sensor_id,\" +\n \"class,\" + \n \"status,\" +\n \"temperature) \" +\n \"SELECT \" +\n    \"1,\" +\n    \"'\"+new Date().toISOString().slice(0, 19).replace('T', ' ')+\"',\" +\n    \"1,\" +\n    \"id, \" + \n    \"'showcase.event.SwitchEvent',\" +\n    (msg.payload.fields.isOpen === undefined ? \"NULL\" : (msg.payload.fields.isOpen ? \"'OPEN'\" : \"'CLOSED'\")) + \",\" +\n    \"NULL \"+ \n  \"FROM sensor WHERE identifier LIKE '\"+ msg.payload.dev_eui +\"';\";\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":425,"wires":[["432b0832.ab9d18"]]},{"id":"432b0832.ab9d18","type":"mysql","z":"24aef11d.675aee","mydb":"6606054.73c60fc","name":"","x":1320,"y":425,"wires":[[]]},{"id":"2536cf87.18a7e","type":"inject","z":"24aef11d.675aee","name":"TTN test koffer 2 open","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMjsx\", \"port\": 1, \"counter\": 116, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.5, \"datarate\": \"SF8BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3143227596, \"gateway_time\": \"2016-08-03T10:28:29.08852Z\", \"channel\": 2, \"server_time\": \"2016-08-03T10:28:29.936604914Z\", \"rssi\": -72, \"lsnr\": 8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":177,"y":345,"wires":[["90b0b57f.4c1098"]]},{"id":"8d103c6c.bda2","type":"inject","z":"24aef11d.675aee","name":"TTN test koffer 2 dicht","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMjsw\", \"port\": 1, \"counter\": 115, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF8BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3139842060, \"gateway_time\": \"2016-08-03T10:28:25.703778Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:28:26.558458675Z\", \"rssi\": -72, \"lsnr\": 10.2, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":177,"y":385,"wires":[["90b0b57f.4c1098"]]},{"id":"a6fe3fae.80f68","type":"inject","z":"24aef11d.675aee","name":"TTN test koffer 1 open","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMTsxOwIP\", \"port\": 1, \"counter\": 4, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF11BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3172636156, \"gateway_time\": \"2016-08-03T10:28:58.514304Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:28:59.436321981Z\", \"rssi\": -51, \"lsnr\": 8.5, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":177,"y":245,"wires":[["90b0b57f.4c1098"]]},{"id":"4b90df74.c0887","type":"amqp out","z":"24aef11d.675aee","name":"alarm RabbitMQ","routingkey":"","iotype":"1","ioname":"showcase.alarm","server":"985ba5a9.8b6398","x":1504,"y":447,"wires":[]},{"id":"79866be7.535de4","type":"amqp out","z":"24aef11d.675aee","name":"ruwe stroom RabbitMQ","routingkey":"","iotype":"1","ioname":"showcase.raw","server":"985ba5a9.8b6398","x":622,"y":224,"wires":[]},{"id":"e5279664.692798","type":"function","z":"24aef11d.675aee","name":"n2s_converter","func":"// { \"gatewayEui\": \"0000024B0805026F\", \"nodeEui\": \"02015E01\", \"time\": \"2016-02-18T09:58:49.075896468Z\", \"frequency\": 868.5, \"dataRate\": \"SF7BW125\", \n// \"rssi\": -30, \"snr\": 6.5, \"rawData\": \"QAFeAQIAmyIBImZILKIpUOq5l37/UUg=\", \"data\": \"CgAUVXiVKQAQIw==\" }\n\nmsg2 = {};\nmsg2.payload = {};\nmsg2.payload.dev_id = msg.payload.dev_eui.substring(8,16);\nmsg2.payload.counter = msg.payload.counter;\nmsg2.payload.datatxt = new Buffer(msg.payload.payload, 'base64').toString();\nmsg2.payload.datahex = new Buffer(msg.payload.payload, 'base64').toString('hex');\n\nreturn msg2;","outputs":"1","noerr":0,"x":596,"y":445,"wires":[["6ff4c21c.bdbd0c","597313fd.21fccc"]]},{"id":"6ff4c21c.bdbd0c","type":"debug","z":"24aef11d.675aee","name":"","active":false,"console":"false","complete":"false","x":791,"y":444,"wires":[]},{"id":"597313fd.21fccc","type":"file","z":"24aef11d.675aee","name":"","filename":"ttn_logging","appendNewline":true,"createDir":true,"overwriteFile":"false","x":791,"y":484,"wires":[]},{"id":"fc2c3f2a.f67e1","type":"amqp out","z":"24aef11d.675aee","name":"keepalive RabbitMQ","routingkey":"","iotype":"1","ioname":"showcase.keepalive","server":"985ba5a9.8b6398","x":888,"y":83,"wires":[]},{"id":"a0f1eb3e.39b2f8","type":"function","z":"24aef11d.675aee","name":"Decode and split payload","func":"var payload = new Buffer(msg.payload.payload, 'base64').toString();\nmsg.payload.payload = payload;\n\n// decode msg payload string to fields\nif (msg.payload.payload.startsWith(\"Alive\")) {\n    msg.payload.fields = {\n        msgType: \"Alive\",\n        node_id: payload.substring(5,6),\n        temp: payload.substring(7,9),\n        volt: payload.substring(10,15)\n    }\n    return [msg, null];\n} else if (msg.payload.payload.startsWith('Sensor')) {\n    var isOpen = payload.substring(8,9) === '1';\n    msg.payload.fields = {\n        msgType: \"Sensor\",\n        isOpen: isOpen,\n        alarm: \"deksel \" + (isOpen ? \"open\" : \"dicht\")\n    }\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":621,"y":285,"wires":[["32c0cb05.f12c74","2ff8e10e.9c06ae","fc2c3f2a.f67e1","2901ecd7.2f7034","59481496.c411ac"],["3baed33.c59152c"]]},{"id":"e295a57.5c18358","type":"inject","z":"24aef11d.675aee","name":"TTN test keepalive 23 msg","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyOzIz\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":147,"y":165,"wires":[["90b0b57f.4c1098"]]},{"id":"c5b81abf.0895c8","type":"debug","z":"24aef11d.675aee","name":"","active":false,"console":"false","complete":"false","x":1110,"y":318,"wires":[]},{"id":"9e5cfd54.9426","type":"inject","z":"24aef11d.675aee","name":"TTN test heartbeat","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyOzIz\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":176,"y":528,"wires":[["90b0b57f.4c1098"]]},{"id":"32c0cb05.f12c74","type":"function","z":"24aef11d.675aee","name":"Heartbeat timeout alarm","func":"var dev_eui = msg.payload.dev_eui;\nvar heartbeatTimers = context.get(\"heartbeatTimers\");\nif(heartbeatTimers === undefined) {\n    heartbeatTimers = {};\n}\nvar timer = heartbeatTimers[dev_eui];\n\n// reset heartbeat timeout timer\nif (timer) {\n    clearTimeout(timer);\n}\n// start new timeout timer\ntimer = setTimeout(function() {\n    // timeout has expired, send warning\n    delete heartbeatTimers[dev_eui];\n    var timeoutMsg = {\n        topic: \"timeout\",\n        payload: {\n            fields: {\n                alarm: \"Heartbeat timeout, check if the device is still alive!\"\n            },\n            dev_eui: dev_eui\n        }\n    };\n    node.send(timeoutMsg);\n}, 60000); // timeout in ms\ncontext.set(\"heartbeatTimers\", heartbeatTimers);\n\nreturn null;","outputs":1,"noerr":0,"x":895,"y":328,"wires":[["c5b81abf.0895c8","aa38495f.44a0e8"]]},{"id":"3baed33.c59152c","type":"function","z":"24aef11d.675aee","name":"Sensor open alarm","func":"// we don't need to do anything here\nreturn msg;","outputs":1,"noerr":0,"x":877,"y":368,"wires":[["aa38495f.44a0e8","eaebb973.814dd8"]]},{"id":"59481496.c411ac","type":"function","z":"24aef11d.675aee","name":"Log heartbeat temp in domoticz","func":"var fields = msg.payload.fields;\nvar domoticzMsg = {};\n\nif (fields.temp === \"ER\") {\n  // Temperature error\n  return null;\n} else {\n    // voor Domoticz\n    domoticzMsg.payload = {\n        idx: 19,\n        svalue: fields.temp,\n        node_id: fields.node_id\n    };\n    return domoticzMsg;\n}\n","outputs":1,"noerr":0,"x":917,"y":182,"wires":[["9510a2be.0a9f6"]]},{"id":"2901ecd7.2f7034","type":"function","z":"24aef11d.675aee","name":"Log heartbeat volt in domoticz","func":"var fields = msg.payload.fields;\nvar domoticzMsg = {};\n\nif (fields.temp === \"ER\") {\n  // Temperature error\n  return null;\n} else {\n    // voor Domoticz\n    domoticzMsg.payload = {\n        idx: 20,\n        svalue: fields.volt,\n        node_id: fields.node_id\n    };\n    return domoticzMsg;\n}\n","outputs":1,"noerr":0,"x":919,"y":224,"wires":[["54e17931.9cb1a8"]]},{"id":"9510a2be.0a9f6","type":"mqtt out","z":"24aef11d.675aee","name":"domoticz/in (prowl)","topic":"domoticz/in","qos":"","retain":"","broker":"7d5d5ee9.190a7","x":1166,"y":182,"wires":[]},{"id":"54e17931.9cb1a8","type":"mqtt out","z":"24aef11d.675aee","name":"domoticz/in (prowl)","topic":"domoticz/in","qos":"","retain":"","broker":"7d5d5ee9.190a7","x":1167,"y":224,"wires":[]},{"id":"794db704.d3a6a8","type":"mqtt-broker","z":"24aef11d.675aee","broker":"staging.thethingsnetwork.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6606054.73c60fc","type":"MySQLdatabase","z":"24aef11d.675aee","host":"172.25.0.8","port":"3306","db":"showcase","tz":""},{"id":"7d5d5ee9.190a7","type":"mqtt-broker","z":"","broker":"rabbitmq","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7f205b12.d17ac4","type":"telegram bot","z":"24aef11d.675aee","botname":"sparky","usernames":"[]","chatids":"[]"},{"id":"985ba5a9.8b6398","type":"amqp-server","z":"24aef11d.675aee","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"}]