docker/node-red/flows/ttn-server11-cleanup.json
[{"id":"f24c8a7b.93d17","type":"mqtt in","z":"24aef11d.675aee","name":"TTN exchange receiver","topic":"#","qos":"1","broker":"794db704.d3a6a8","x":188,"y":509,"wires":[["4f43b4b3.90e9e4","71d544b1.fc0e2c"]]},{"id":"4f43b4b3.90e9e4","type":"json","z":"24aef11d.675aee","name":"","x":418,"y":369,"wires":[["281e742f.41605c","5a1066e7.3b2158","24c8d07e.b0346"]]},{"id":"71d544b1.fc0e2c","type":"debug","z":"24aef11d.675aee","name":"","active":false,"console":"false","complete":"true","x":418,"y":409,"wires":[]},{"id":"ef83553c.c54368","type":"inject","z":"24aef11d.675aee","name":"TTN test koffer 1 dicht","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMTswOwKE\", \"port\": 1, \"counter\": 3, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF11BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 4098352996, \"gateway_time\": \"2016-08-03T10:44:24.225385Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:44:25.07906191Z\", \"rssi\": -51, \"lsnr\": 11.5, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":188,"y":369,"wires":[["4f43b4b3.90e9e4"]]},{"id":"4f40adb9.da1f84","type":"function","z":"24aef11d.675aee","name":"Alarm notification","func":"// needs the following fields:\n//      msg.payload.fields.alarm: alarm message to display\n//      msg.payload.dev_eui: device id\n\nmsg.topic = \"SELECT identifier AS devid, slackchannel, telegramchannel FROM sensor where identifier = '\"+ msg.payload.dev_eui + \"'\";\nmsg.alarmPayload = msg.payload;\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":1163,"y":452,"wires":[["9fd5b82a.9044f8"]]},{"id":"9fd5b82a.9044f8","type":"mysql","z":"24aef11d.675aee","mydb":"6606054.73c60fc","name":"","x":1353,"y":452,"wires":[["8ffba07d.af566","b5b87dd0.46704","718d7e8f.9fcef","ba62c5d7.f90998"]]},{"id":"2e556ebf.d9a0e2","type":"mqtt out","z":"24aef11d.675aee","name":"domoticz/in (prowl)","topic":"domoticz/in","qos":"","retain":"","broker":"7d5d5ee9.190a7","x":1765,"y":384,"wires":[]},{"id":"1ee7791b.5b0447","type":"Slack Bot Out","z":"24aef11d.675aee","name":"sparky (slack)","apiToken":"xoxb-63081672787-taRL39u95elfJ8ARh1gGvRUR","channel":"","x":1755,"y":434,"wires":[]},{"id":"f39ef9f6.019128","type":"telegram sender","z":"24aef11d.675aee","name":"sparky (telegram)","bot":"7f205b12.d17ac4","x":1790,"y":483,"wires":[[]]},{"id":"8ffba07d.af566","type":"function","z":"24aef11d.675aee","name":"Alarm: Prowl","func":"msg_out = {};\nmsg_out.payload = {};\nmsg_out.payload.dev_eui = msg.alarmPayload.dev_eui;\n\nif (msg.alarmPayload.dev_eui === '0000000029B1A8A0') {\n    msg_out.payload.idx = 6; // Domoticz id\n    msg_out.payload.nvalue = parseInt(msg.alarmPayload.payload.substring(8,9));\n    msg_out.payload.svalue = msg.alarmPayload.payload.substring(10,12);\n}\nelse if (msg.alarmPayload.dev_eui === '000000009AA74038') {\n    msg_out.payload.idx = 5; // Domoticz id\n    msg_out.payload.nvalue = parseInt(msg.alarmPayload.payload.substring(8,9));\n    msg_out.payload.svalue = msg.alarmPayload.payload.substring(10,12);\n}\n\nreturn msg_out;","outputs":1,"noerr":0,"x":1565,"y":384,"wires":[["2e556ebf.d9a0e2"]]},{"id":"b5b87dd0.46704","type":"function","z":"24aef11d.675aee","name":"Alarm: Slack","func":"if(msg.payload[0].slackchannel) {\n  msg.channel = msg.payload[0].slackchannel\n  if(msg.alarmPayload) {\n    msg.payload = \"Alarm: \" + msg.alarmPayload.alarm;\n  } else { \n     msg.payload = \"Alarm\"; \n  }\n  return msg;\n} else { \n  return null;\n}\n","outputs":1,"noerr":0,"x":1565,"y":434,"wires":[["1ee7791b.5b0447"]]},{"id":"718d7e8f.9fcef","type":"function","z":"24aef11d.675aee","name":"Alarm: Telegram","func":"msg.alarmPayload\nif(msg.payload[0].telegramchannel) {\n  msg.payload.type = 'message';\n  msg.payload.chatId = msg.payload[0].telegramchannel;\n  if(msg.alarmPayload) {\n    msg.payload.content = \"Alarm: \" + msg.alarmPayload.alarm;\n  } else { \n     msg.payload.content = \"Alarm\"; \n  }\n  return msg;\n} else { \n  return null;\n}\n","outputs":1,"noerr":0,"x":1584,"y":483,"wires":[["f39ef9f6.019128"]]},{"id":"ceadd04.a63ef3","type":"inject","z":"24aef11d.675aee","name":"TTN test keepalive ERR msg","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyO0VS\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":168,"y":289,"wires":[["4f43b4b3.90e9e4"]]},{"id":"93df92ee.ea1fc","type":"mysql","z":"24aef11d.675aee","mydb":"6606054.73c60fc","name":"","x":1101,"y":222,"wires":[["6e258789.099508"]]},{"id":"ce4f5124.4e542","type":"function","z":"24aef11d.675aee","name":"Log heartbeat in MySQL","func":"var temp = msg.payload.fields.temp;\nmsg.topic = \n     \"INSERT INTO event ( \" +\n     \"version,\" +\n     \"date_created,\" +\n     \"event_type_id,\" +\n     \"sensor_id,\" +\n     \"class,\" + \n     \"status,\" +\n     \"temperature) \" +\n     \"SELECT \" +\n        \"1,\" +\n        \"'\"+new Date().toISOString().slice(0, 19).replace('T', ' ')+\"',\" +\n        \"2,\" +\n        \"id, \" + \n        \"'showcase.event.TemperatureEvent',\" +\n        \"NULL,\" +\n        (temp !== \"ER\" ? temp : \"NULL\") + \" \" + \n      \"FROM sensor WHERE identifier LIKE '\"+msg.payload.devid+\"';\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":909,"y":221,"wires":[["93df92ee.ea1fc"]]},{"id":"96d6783c.651e18","type":"function","z":"24aef11d.675aee","name":"Alarm log in MySQL","func":"msg.topic = \n \"INSERT INTO event ( \" +\n \"version,\" +\n \"date_created,\" +\n \"event_type_id,\" +\n \"sensor_id,\" +\n \"class,\" + \n \"status,\" +\n \"temperature) \" +\n \"SELECT \" +\n    \"1,\" +\n    \"'\"+new Date().toISOString().slice(0, 19).replace('T', ' ')+\"',\" +\n    \"1,\" +\n    \"id, \" + \n    \"'showcase.event.SwitchEvent',\" +\n    (msg.payload.fields.isOpen?\"'OPEN'\":\"'CLOSED'\") + \",\" +\n    \"NULL \"+ \n  \"FROM sensor WHERE identifier LIKE '\"+ msg.payload.dev_eui +\"';\";\nreturn msg;","outputs":1,"noerr":0,"x":1174,"y":509,"wires":[["c88edcb7.02eb8"]]},{"id":"c88edcb7.02eb8","type":"mysql","z":"24aef11d.675aee","mydb":"6606054.73c60fc","name":"","x":1354,"y":509,"wires":[[]]},{"id":"35b47e3e.ecdba2","type":"inject","z":"24aef11d.675aee","name":"TTN test koffer 2 open","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMjsx\", \"port\": 1, \"counter\": 116, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.5, \"datarate\": \"SF8BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3143227596, \"gateway_time\": \"2016-08-03T10:28:29.08852Z\", \"channel\": 2, \"server_time\": \"2016-08-03T10:28:29.936604914Z\", \"rssi\": -72, \"lsnr\": 8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":188,"y":429,"wires":[["4f43b4b3.90e9e4"]]},{"id":"a6be5bf8.f26d88","type":"inject","z":"24aef11d.675aee","name":"TTN test koffer 2 dicht","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMjsw\", \"port\": 1, \"counter\": 115, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF8BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3139842060, \"gateway_time\": \"2016-08-03T10:28:25.703778Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:28:26.558458675Z\", \"rssi\": -72, \"lsnr\": 10.2, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":188,"y":469,"wires":[["4f43b4b3.90e9e4"]]},{"id":"75a7426f.d0af8c","type":"inject","z":"24aef11d.675aee","name":"TTN test koffer 1 open","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"U2Vuc29yMTsxOwIP\", \"port\": 1, \"counter\": 4, \"dev_eui\": \"000000009AA74038\", \"metadata\": [ { \"frequency\": 868.1, \"datarate\": \"SF11BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3172636156, \"gateway_time\": \"2016-08-03T10:28:58.514304Z\", \"channel\": 0, \"server_time\": \"2016-08-03T10:28:59.436321981Z\", \"rssi\": -51, \"lsnr\": 8.5, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":188,"y":329,"wires":[["4f43b4b3.90e9e4"]]},{"id":"ba62c5d7.f90998","type":"amqp out","z":"24aef11d.675aee","name":"alarm RabbitMQ","routingkey":"","iotype":"1","ioname":"showcase.alarm","server":"985ba5a9.8b6398","x":1583,"y":531,"wires":[]},{"id":"24c8d07e.b0346","type":"amqp out","z":"24aef11d.675aee","name":"ruwe stroom RabbitMQ","routingkey":"","iotype":"1","ioname":"showcase.raw","server":"985ba5a9.8b6398","x":633,"y":308,"wires":[]},{"id":"281e742f.41605c","type":"function","z":"24aef11d.675aee","name":"n2s_converter","func":"// { \"gatewayEui\": \"0000024B0805026F\", \"nodeEui\": \"02015E01\", \"time\": \"2016-02-18T09:58:49.075896468Z\", \"frequency\": 868.5, \"dataRate\": \"SF7BW125\", \n// \"rssi\": -30, \"snr\": 6.5, \"rawData\": \"QAFeAQIAmyIBImZILKIpUOq5l37/UUg=\", \"data\": \"CgAUVXiVKQAQIw==\" }\n\nmsg2 = {};\nmsg2.payload = {};\nmsg2.payload.dev_id = msg.payload.dev_eui.substring(8,16);\nmsg2.payload.counter = msg.payload.counter;\nmsg2.payload.datatxt = new Buffer(msg.payload.payload, 'base64').toString();\nmsg2.payload.datahex = new Buffer(msg.payload.payload, 'base64').toString('hex');\n\nreturn msg2;","outputs":"1","noerr":0,"x":607,"y":529,"wires":[["8a1d070c.5c3be","279dfca4.bbfafc"]]},{"id":"8a1d070c.5c3be","type":"debug","z":"24aef11d.675aee","name":"","active":true,"console":"false","complete":"false","x":802,"y":528,"wires":[]},{"id":"279dfca4.bbfafc","type":"file","z":"24aef11d.675aee","name":"","filename":"ttn_logging","appendNewline":true,"createDir":true,"overwriteFile":"false","x":802,"y":568,"wires":[]},{"id":"e78a3635.7fe738","type":"amqp out","z":"24aef11d.675aee","name":"keepalive RabbitMQ","routingkey":"","iotype":"1","ioname":"showcase.keepalive","server":"985ba5a9.8b6398","x":899,"y":167,"wires":[]},{"id":"5a1066e7.3b2158","type":"function","z":"24aef11d.675aee","name":"Decode and split payload","func":"var payload = new Buffer(msg.payload.payload, 'base64').toString();\nmsg.payload.payload = payload;\n\n// decode msg payload string to fields\nif (msg.payload.payload.startsWith(\"Alive\")) {\n    msg.payload.fields = {\n        msgType: \"Alive\",\n        node_id: payload.substring(5,6),\n        temp: payload.substring(7,9),\n        volt: payload.substring(10,15)\n    }\n    return [msg, null];\n} else if (msg.payload.payload.startsWith('Sensor')) {\n    var isOpen = payload.substring(8,9) === '1';\n    msg.payload.fields = {\n        msgType: \"Sensor\",\n        isOpen: isOpen,\n        alarm: \"deksel \" + (isOpen ? \"open\" : \"dicht\")\n    }\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":632,"y":369,"wires":[["3e1181e7.ac0eae","ce4f5124.4e542","e78a3635.7fe738","5b1a653a.e0058c","e40bc1fb.882ae"],["27d7d125.ffafbe"]]},{"id":"6e258789.099508","type":"debug","z":"24aef11d.675aee","name":"","active":false,"console":"false","complete":"false","x":1251,"y":222,"wires":[]},{"id":"a307d6d5.16b868","type":"inject","z":"24aef11d.675aee","name":"TTN test keepalive 23 msg","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyOzIz\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":158,"y":249,"wires":[["4f43b4b3.90e9e4"]]},{"id":"fd3985a0.445998","type":"debug","z":"24aef11d.675aee","name":"","active":false,"console":"false","complete":"false","x":1144,"y":402,"wires":[]},{"id":"9a7433e2.1534f","type":"inject","z":"24aef11d.675aee","name":"TTN test heartbeat","topic":"70B3D57ED0000105/devices/0000000029B1A8A0/up","payload":"{ \"payload\": \"QWxpdmUyOzIz\", \"port\": 1, \"counter\": 94, \"dev_eui\": \"0000000029B1A8A0_alive_test\", \"metadata\": [ { \"frequency\": 868.3, \"datarate\": \"SF7BW125\", \"codingrate\": \"4/5\", \"gateway_timestamp\": 3245278731, \"gateway_time\": \"2016-08-02T09:26:56.369421Z\", \"channel\": 1, \"server_time\": \"2016-08-02T09:26:58.235523738Z\", \"rssi\": -41, \"lsnr\": 9.8, \"rfchain\": 1, \"crc\": 1, \"modulation\": \"LORA\", \"gateway_eui\": \"0000024B0805026F\", \"altitude\": -1, \"longitude\": 5.26561, \"latitude\": 52.05755 } ] }","payloadType":"str","repeat":"","crontab":"","once":false,"x":187,"y":612,"wires":[["4f43b4b3.90e9e4"]]},{"id":"3e1181e7.ac0eae","type":"function","z":"24aef11d.675aee","name":"Heartbeat timeout alarm","func":"var dev_eui = msg.payload.dev_eui;\nvar heartbeatTimers = context.get(\"heartbeatTimers\");\nvar timer = heartbeatTimers[dev_rui];\n\n// reset heartbeat timeout timer\nif (timer) {\n    clearTimeout(timer);\n}\n// start new timeout timer\ntimer = setTimeout(function() {\n    // timeout has expired, send warning\n    delete heartbeatTimers[dev_rui];\n    var timeoutMsg = {\n        topic: \"timeout\",\n        payload: {\n            fields: {\n                alarm: \"Heartbeat timeout, check if the device is still alive!\"\n            },\n            dev_eui: dev_eui\n        }\n    };\n    node.send([null, timeoutMsg, null, null]);\n}, 60000); // timeout in ms\ncontext.set(\"heartbeatTimers\", heartbeatTimers);\n\nreturn null;","outputs":1,"noerr":0,"x":906,"y":412,"wires":[["fd3985a0.445998","4f40adb9.da1f84"]]},{"id":"27d7d125.ffafbe","type":"function","z":"24aef11d.675aee","name":"Sensor open alarm","func":"// we don't need to do anything here\nreturn msg;","outputs":1,"noerr":0,"x":888,"y":452,"wires":[["4f40adb9.da1f84","96d6783c.651e18"]]},{"id":"e40bc1fb.882ae","type":"function","z":"24aef11d.675aee","name":"Log heartbeat temp in domoticz","func":"var fields = msg.payload.fields;\nvar domoticzMsg = {};\n\nif (fields.temp === \"ER\") {\n  // Temperature error\n  return null;\n} else {\n    // voor Domoticz\n    domoticzMsg.payload = {\n        idx: 19,\n        svalue: fields.temp,\n        node_id: fields.node_id\n    };\n    return domoticzMsg;\n}\n","outputs":1,"noerr":0,"x":928,"y":266,"wires":[["70f3e80d.4c85d8"]]},{"id":"5b1a653a.e0058c","type":"function","z":"24aef11d.675aee","name":"Log heartbeat volt in domoticz","func":"var fields = msg.payload.fields;\nvar domoticzMsg = {};\n\nif (fields.temp === \"ER\") {\n  // Temperature error\n  return null;\n} else {\n    // voor Domoticz\n    domoticzMsg.payload = {\n        idx: 20,\n        svalue: fields.volt,\n        node_id: fields.node_id\n    };\n    return domoticzMsg;\n}\n","outputs":1,"noerr":0,"x":930,"y":308,"wires":[["de2bbab0.503908"]]},{"id":"70f3e80d.4c85d8","type":"mqtt out","z":"24aef11d.675aee","name":"domoticz/in (prowl)","topic":"domoticz/in","qos":"","retain":"","broker":"7d5d5ee9.190a7","x":1177,"y":266,"wires":[]},{"id":"de2bbab0.503908","type":"mqtt out","z":"24aef11d.675aee","name":"domoticz/in (prowl)","topic":"domoticz/in","qos":"","retain":"","broker":"7d5d5ee9.190a7","x":1178,"y":308,"wires":[]},{"id":"794db704.d3a6a8","type":"mqtt-broker","z":"24aef11d.675aee","broker":"staging.thethingsnetwork.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6606054.73c60fc","type":"MySQLdatabase","z":"24aef11d.675aee","host":"172.25.0.8","port":"3306","db":"showcase","tz":""},{"id":"7d5d5ee9.190a7","type":"mqtt-broker","z":"","broker":"rabbitmq","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7f205b12.d17ac4","type":"telegram bot","z":"24aef11d.675aee","botname":"sparky","usernames":"[]","chatids":"[]"},{"id":"985ba5a9.8b6398","type":"amqp-server","z":"24aef11d.675aee","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"}]